<!DOCTYPE html>
<html lang="de-at">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/epunkt.ico">

    <title>Login Sourcing Reporting</title>

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="font/css/open-iconic-bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="css/alertify/alertify.core.css" />
    <link rel="stylesheet" href="css/alertify/alertify.default.css" id="toggleCSS" />

    <!-- JavaScript -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/sourcing/login.js"></script>
    <script src="js/alertify.js"></script>
</head>

<body ng-app="sourcingApp">
    <div class="container" ng-controller="loginController">
        <div class="form-signin">
            <img src="images/epunkt.png" width="64" />

            <h2 class="form-signin-heading">Bitte einloggen!</h2>

            <label for="inputEmail" class="sr-only mb-1">Email address</label>
            <input type="email" id="inputEmail" class="form-control mb-1" maxlength="250" name="email" placeholder="Email address" ng-model="email">
            <label for="inputPassword" class="sr-only mb-1">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-1" maxlength="250" name="password" placeholder="Password" ng-model="password" ng-enter="login()">
            <button id="loginbtn" class="btn-info btn btn-lg btn-block mb-1" ng-click="login()"><span class="fas fa-sign-in-alt" aria-hidden="true"></span> Login</button>

        </div>
    </div>
</body>

</html>