<h1 class="page-header"><span class="glyphicon glyphicon-folder-open"></span>  Besetzungen Übersicht</h1>

<script src="js/sourcing/loadingScreen.js"></script>


<div id="candidatesContent" class="panel panel-default">
    <!-- Default panel contents -->


    <div>
        <div class="filter pt-2">
            <div class="header btn btn-info"> Filter einblenden</div>
            <div class="content">
                <table class="table w-50">
                    <tr>
                        <td>
                            <div class="input-group-addon alert-info sourcing-width-250">von </div>
                            <input class="form-control sourcing-width-250" type="date" id="from" ng-model="from" />
                        </td>
                        <td>
                            <div class="input-group-addon alert-info sourcing-width-250">bis </div>
                            <input class="form-control sourcing-width-250" type="date" id="to" ng-model="to" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div ng-click="resetFilter()" class="btn btn-danger">
                                <span class="oi oi-x" aria-hidden="true"></span> Filter zurücksetzen
                            </div>
                        </td>
                        <td>
                            <div ng-click="filterCandidates()" class="btn btn-info">
                                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Filtern
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel-heading pb-2 pt-2">
            <input type="text" class="alert alert-info sourcing-width-250" id="inputName" ng-keyup="searchNames()" placeholder="Nach Namen suchen" />
            <input type="text" class="alert alert-info sourcing-width-250" id="inputeR" ng-keyup="searcheR()" placeholder="Nach eR-Nr. suchen" />
        </div>
    </div>
    <div>
        <br /><br />
        <h6><span class="badge badge-info">{{anzahl.anzahl + anzahleR.anzahl}}</span> Kandidaten in der Datenbank</h6>
    </div>
    <div class="panel-body">
        <table id="candidates" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>eRecruiterNr.</th>
                    <th aria-sort="descending">Besetzung</th>
                    <th>Team</th>
                    <th>Scoreboard</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr ng-repeat="c in candidates">
                    <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                    <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                    <td ng-if="c.eR == null"> </td>
                    <td>{{c.hire | date: 'dd.MM.yyyy'}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.scoreboard}}</td>
                </tr>
                <tr ng-repeat="c in eRcandidates">
                    <td><a href="#!candidatedetaileR/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                    <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                    <td ng-if="c.eR == null"> </td>
                    <td>{{c.hire | date: 'dd.MM.yyyy'}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.scoreboard}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="loadingCircles">
    <div class="circle"></div>
    <div class="circle1"></div>
</div>


<script src='js/tablesort.min.js'></script>

<!-- Include sort types you need -->
<script src='js/tablesort.number.min.js'></script>
<script src='js/tablesort.date.min.js'></script>

<script>
    var sortableTable = document.getElementById("candidates");
    sorttable.makeSortable(sortableTable);

    $(".header").click(function () {
        $header = $(this);
        $content = $header.next();
        $content.slideToggle(500, function () {
            $header.text(function () {
                return $content.is(":visible") ? "Filter einklappen" : "Filter einblenden";
            });
        });
    });
</script>

