<h1 class="page-header"><span class="oi oi-bar-chart"></span>  Statistiken</h1>

<div class="panel panel-default">
   
    <h3>Von der Ansprache zur Besetzung</h3>
    <br />
    <div class="input-group w-25 ml-2">
        <div class="input-group-addon alert-info sourcing-width-150">Jahr </div>
        <input class="form-control" type="number" id="yearToFilter" ng-model="yearToFilter" min="2018" value="2018" ng-change="updateAllData()" />
    </div>

    

   <br />
   <br />

    <div class="chart-container w-50">
        <canvas id="myChart"></canvas>
    </div>
    
    <br />
    <br />
    <table id="requests" class="table w-50">
        <thead>
            <tr>
                <th> </th>
                <th>Ansprachen</th>
                <th>Telefonnotizen</th>
                <th>interne Gespräche</th>
                <th>externe Gespräche</th>
                <th>Besetzungen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Absolute Zahlen</b></td>
                <td>{{allData.request}}</td>
                <td>{{allData.telnotice}}</td>
                <td>{{allData.intern}}</td>
                <td>{{allData.extern}}</td>
                <td>{{allData.hires}}</td>
            </tr>
            <tr>
                <td><b>Convertion Rate<br /> je Step</b></td>
                <td> - </td>
                <td>{{allData.telnotice / allData.request * 100 | number:1}} %</td>
                <td>{{allData.intern / allData.telnotice * 100 | number:1}} %</td>
                <td>{{allData.extern / allData.intern * 100 | number:1}} %</td>
                <td>{{allData.hires / allData.extern * 100 | number:1}} %</td>
            </tr>
            <tr>
                <td><b>Convertion Rate Gesamt</b></td>
                <td> - </td>
                <td>{{allData.telnotice / allData.request * 100 | number:1}} %</td>
                <td>{{allData.intern / allData.request * 100 | number:1}} %</td>
                <td>{{allData.extern / allData.request * 100 | number:1}} %</td>
                <td>{{allData.hires / allData.request * 100 | number:1}} %</td>
            </tr>
        </tbody>
    </table>
    
</div>