<h1 class="page-header"><span class="fas fa-chart-line"></span>  Statistiken</h1>

<div class="panel panel-default">
   
    <h3>Response-Values</h3>
    <br />
   
    <br /><br />
    <div id="filterAnzeige">
        <h4>aktuelle Darstellung: </h4>
        <p>Jahr: <b>{{yearToFilter}}</b><br />
           Zeitraum: <b>{{filterFrom | date: 'dd.MM.yyyy'}} - {{filterTo | date: 'dd.MM.yyyy'}}</b>
        </p>
    </div>
    <div class="chart-container w-75" id="ChartDiv">
        <canvas id="myChart"></canvas>
    </div>

    <br />
    <br />
    <table id="requests" class="table w-75 card-float">
        <thead>
            <tr>
                <th>Ansprachen</th>
                <th>Response gesamt</th>
                <th>Response positiv</th>
                <th>Response negativ</th>
               
            </tr>
        </thead>
        <tbody>
            <tr ">
                <td>{{responseValues.ansprachen}}</td>
                <td>{{responseValues.response_gesamt}} ({{100 / responseValues.ansprachen * responseValues.response_gesamt | number: 2}}%)</td>
                <td>{{responseValues.positiveResponse}} ({{100 / responseValues.response_gesamt * responseValues.positiveResponse | number: 2}}%)</td>
                <td>{{responseValues.negativeResponse}} ({{100 / responseValues.response_gesamt * responseValues.negativeResponse | number: 2}}%)</td>
            </tr>
        </tbody>
    </table>
</div>

<script>

    $(".header").click(function () {
        $header = $(this);
        $content = $header.next();
        $content.slideToggle(500, function () {
            $header.text(function () {
                return $content.is(":visible") ? "Filter einklappen" : "Filter einblenden";
            });
        });
    });
</script>