<h1 class="page-header"><span class="oi oi-bar-chart"></span>  Statistiken</h1>

<div class="panel panel-default">
   
    <h3>Response Rate</h3>
    <br />
    <div class="input-group w-25 ml-2">
        <div class="input-group-addon alert-info sourcing-width-150">von </div>
        <input class="form-control" type="date" id="from" ng-model="from" min="01.01.2018" ng-change="updateResponseRate()" />
    </div>
    <div class="input-group w-25 ml-2">
        <div class="input-group-addon alert-info sourcing-width-150">bis </div>
        <input class="form-control" type="date" id="to" ng-model="to" min="01.01.2018" ng-change="updateResponseRate()" />
    </div>

    <div class="card w-25 sourcing-position_rt m-2">
        <img class="card-img-top" src="../../images/Bojan_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <table id="requests" class="table">
                <thead>
                    <tr>
                        <th>ResponseRate gesamt</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">
                            <h1>{{allResponseRate.responses / allResponseRate.requests * 100 | number: 2}} %</h1>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

   <br />

    <br />

    <div class="chart-container w-50">
        <canvas id="myChart"></canvas>
    </div>
    
    <br />
    <br />
    <table id="requests" class="table w-50 card-float">
        <thead>
            <tr>
                <th>Quelle</th>
                <th>Ansprachen</th>
                <th>Responses</th>
                <th>Response Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in responseRates">
                <td>{{r.name}}</td>
                <td>{{r.requests}}</td>
                <td>{{r.responses}}</td>
                <td>{{r.responses / r.requests * 100 | number: 2}} %</td>
            </tr>
        </tbody>
    </table>


    
    
</div>