<h1 class="page-header"><span class="oi oi-bar-chart"></span>  Statistiken</h1>

<div class="panel panel-default float-overflow">
   
    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Esther_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Gesamtanalyse</h5>
                <p class="card-text">Ansprachen, Interne- und Externe Gespräche, Besetzungen <br />
                Gesamtzahlen aller Plattformen
                </p>
                <a href="#!reqestsToHire" class="btn btn-info">Statistik anzeigen</a>

            </div>
            
        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Gotthard_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Gesamtanalyse je Plattform</h5>
                <p class="card-text">
                    Ansprachen, Interne- und Externe Gespräche, Besetzungen <br />
                    Gesamtzahlen je Plattformen
                </p>
                <a href="#!reqestsToHireFromPlattform" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>
    
    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Johanna_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Besetzungen pro Team</h5>
                <p class="card-text">
                    Verteilung der Besetzungen in den Teams (keine eR-Kandidaten)
                </p>
                <a href="#!HiresInTeam" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Kathi-Roman.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Übersicht Telefonnotizen</h5>
                <p class="card-text">
                    Übersicht der Telefonnotizen je Sourcer und Kalenderwoche
                </p>
                <a href="#!TelefonNotizen" class="btn btn-info">Statistik anzeigen</a><!-- #!TelefonNotice -->

            </div>

        </div>
    </div>


    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Response Rate</h5>
                <p class="card-text">
                    Gesamt und je Plattform
                </p>
                <a href="#!ResponseRate" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div> 


    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Roman_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Response Values</h5>
                <p class="card-text">
                    Response-Values positiv/negativ
                </p>
                <a href="#!responseValues" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Wolfgang_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Weekly Numbers</h5>
                <p class="card-text">
                    Ansprachen und Telefonnotizen nach KW
                </p>
                <a href="#!weeklyNumbers" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Kathi-Roman.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Telefonnotiz</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zur Telefonnotiz von allen erfassten Kandidaten
                </p>
                <a href="#!timeToTelNoticeScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Maria_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Intern</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zum Internen Gespräch von allen erfassten Kandidaten
                </p>
                <a href="#!timeToInternScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Roman_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Extern</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zum Externen Gespräch von allen erfassten Kandidaten
                </p>
                <a href="#!timeToExternScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Valerie_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Hire</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zur Besetzung von allen erfassten Kandidaten
                </p>
                <a href="#!timeToHireScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

</div>