<h1 class="page-header"><span class="oi oi-bar-chart"></span>  Statistiken</h1>

<div class="panel panel-default">
   <!--
    <div class="panel panel-body m-4 w-25">
        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Start</div>
            <input type='date' class="form-control sourcing-width-150" id="start" name="start" ng-model="start" value="{{ start | date: 'yyyy-MM-dd' }}" ng-model-options="{timezone:'UTC'}" ng-blur="updateBegin()"/>
        </div>

        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Ende</div>
            <input type='date' class="form-control sourcing-width-150" id="end" name="end" ng-model="end" value="{{ end | date: 'yyyy-MM-dd' }}" ng-model-options="{timezone:'UTC'}" ng-blur="updateEnd()" />
        </div>
    </div>
-->
    
    <div class="input-group sourcing-w-20 ml-2">
        <div class="input-group-addon alert-info sourcing-width-150">Jahr </div>
        <input class="form-control" type="number" id="yearToFilter" ng-model="yearToFilter" min="2018" value="2018" ng-change="update()" />
    </div>


    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Bojan_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <table id="requests" class="table">
                <thead>
                    <tr>
                        <th>Ansprachen gesamt {{yearToFilter}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">
                            <h1>{{allRequests.requests}}</h1>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Christopher_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <table id="requests" class="table">
                <thead>
                    <tr>
                        <th>Mein Jahr {{yearToFilter}}</th>
                        <th>Anzahl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ansprachen</td>
                        <td>{{myYear.request}} ({{myYear.request / allRequests.requests * 100 | number:2}} %)</td>
                    </tr>
                    <tr>
                        <td>Telefon-Notizen</td>
                        <td>{{myYear.telnotice}}</td>
                    </tr>
                    <tr>
                        <td>Besetzungen</td>
                        <td>{{myYear.hires}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/EP-Link-Profil-9.jpg" alt="Card image cap">
        <div class="card-block">
            <table id="requests" class="table">
                <thead>
                    <tr>
                        <th>Meine Woche</th>
                        <th>Anzahl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ansprachen</td>
                        <td>{{myWeek.request}}</td>
                    </tr>
                    <tr>
                        <td>Telefon-Notizen</td>
                        <td>{{myWeek.telnotice}}</td>
                    </tr>
                    <tr>
                        <td>Besetzungen</td>
                        <td>{{myWeek.hires}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Esther_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Gesamtanalyse</h5>
                <p class="card-text">Ansprachen, Interne- und Externe Gespräche, Besetzungen <br />
                Gesamtzahlen aller Plattformen
                </p>
                <a href="#!reqestsToHire" class="btn btn-primary">Statistik anzeigen</a>

            </div>
            
        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Gotthard_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Gesamtanalyse je Plattform</h5>
                <p class="card-text">
                    Ansprachen, Interne- und Externe Gespräche, Besetzungen <br />
                    Gesamtzahlen je Plattformen
                </p>
                <a href="#!reqestsToHireFromPlattform" class="btn btn-primary">Statistik anzeigen</a>

            </div>

        </div>
    </div>
    
    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Johanna_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Besetzungen pro Team</h5>
                <p class="card-text">
                    Verteilung der Besetzungen in den Teams
                </p>
                <a href="#!HiresInTeam" class="btn btn-primary">Statistik anzeigen</a>

            </div>

        </div>
    </div>


    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Response Rate</h5>
                <p class="card-text">
                    Gesamt und je Plattform
                </p>
                <a href="#!ResponseRate" class="btn btn-primary">Statistik anzeigen</a>

            </div>

        </div>
    </div>


    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Kathi-Roman.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Übersicht Telefonnotizen</h5>
                <p class="card-text">
                   Übersicht der Telefonnotizen je Sourcer und Kalenderwoche
                </p>
                <a href="#" class="btn btn-primary">Statistik anzeigen</a><!-- #!TelefonNotice -->

            </div>

        </div>
    </div>
        
    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Maria_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Übersicht Besetzungen</h5>
                <p class="card-text">
                    Übersicht der Besetzungen
                </p>
                <a href="#!hires" class="btn btn-primary">Statistik anzeigen</a>

            </div>

        </div>
    </div>

  

</div>