<h1 class="page-header"><span class="fas fa-chart-line"></span>  Statistiken</h1>

<div class="panel panel-default">
   
    <a href="#!TelefonNotizen" class="btn btn-info">Telefonnotizen je Kalenderwoche anzeigen</a>
    <br/>
    <br/>
    <div class="input-group mb-1 sourcing-width-250">
        <div class="input-group-prepend">
            <span class="input-group-text alert-info" id="inputGroup-sizing-default">Jahr</span>
        </div>
        <input class="form-control" type="number" id="yearToFilter" ng-model="yearToFilter" min="2017" value="2018" ng-change="update()" />
    </div>
    <h3>Telefonnotizen Gesamt</h3>
    <div class="chart-container" id="ChartDiv">
        <canvas id="myChart"></canvas>
    </div>
</div>