<h1 class="page-header"><span class="fas fa-chart-line"></span>  Statistiken</h1>

<div class="panel panel-default">
   
    <a href="#!TelefonNotizen" class="btn btn-info">Telefonnotizen je Kalenderwoche anzeigen</a>
    <br/>
    <br/>

    <div class="input-group sourcing-w-20 ml-2">
        <div class="input-group-addon alert-info sourcing-width-150">Jahr </div>
        <input class="form-control" type="number" id="yearToFilter" ng-model="yearToFilter" min="2017" value="2018" ng-change="update()" />
    </div>

    <h3>Telefonnotizen Gesamt</h3>
    <div class="chart-container" id="ChartDiv">
        <canvas id="myChart"></canvas>
    </div>
</div>