<h1 class="page-header"><span class="oi oi-bar-chart"></span>  Statistiken</h1>

<div class="panel panel-default">
   
    <h3> Telefonnotizen Übersicht</h3>
   <!-- <a href="#!TelefonNotizenGraph" class="btn btn-info">Graph anzeigen</a>-->
    <br/>
    <br/>

    <table id="telNoticeTable" class="table w-50" ng-repeat="counts in telNotice |  groupBy:'weeknr'">
        <tr>
            <th>Kalenderwoche {{counts[0].weeknr}}</th>
            <th>Sourcer</th>
            <th>Telefonnotizen</th>
        </tr>
        <tr ng-repeat="telNot in counts">
            <td> </td>
            <td>{{telNot.firstname}}</td>
            <td>{{telNot.telnotice}}</td>
        </tr>
    </table>
    
</div>