<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!statistics">Statistiken</a></li>
        <li class="breadcrumb-item active" aria-current="page">Telefonnotizen Übersicht</li>
    </ol>
</nav>
<h1 class="page-header"><span class="fas fa-chart-line"></span>  Statistiken</h1>

<div class="panel panel-default">
    <h3> Telefonnotizen Übersicht {{yearToFilter}}</h3>

    <a href="#!TelefonNotizenGraph" class="btn btn-info">Graph anzeigen</a>
    <a href="#!telnoticeBySourcer" class="btn btn-info">Zu meinen Telefonnotizen</a>
    <br />
    <br />
    <div class="input-group mb-1 sourcing-width-250">
        <div class="input-group-prepend">
            <span class="input-group-text alert-info" id="inputGroup-sizing-default">Jahr</span>
        </div>
        <input class="form-control" type="number" id="yearToFilter" ng-model="yearToFilter" min="2017" value="2018" ng-change="update()" />
    </div>
    <br /> 
    <table id="telNoticeTable" class="table w-50 table-striped" ng-repeat="counts in telNotice |  groupBy:'weeknr'">
        <tr class="thead-sourcing">
            <th>Kalenderwoche {{counts[0].weeknr}}</th>
            <th>Sourcer</th>
            <th>Telefonnotizen</th>
        </tr>

        <tr ng-repeat="telNot in counts">
            <td> </td>
            <td>{{telNot.firstname}}</td>
            <td>{{telNot.telnotice}}</td>
        </tr>
    </table>
</div>
