<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!statistics">Statistiken</a></li>
        <li class="breadcrumb-item active" aria-current="page">Time-To-TelefonNotiz</li>
    </ol>
</nav>
<h1 class="page-header"><span class="fas fa-chart-line"></span>  Statistiken</h1>

<div class="panel panel-default">
    <h3>Time-To-TelefonNotiz</h3>
    <div class="chart-container w-75" id="ChartDiv">
        <canvas id="myChart"></canvas>
    </div>
</div>