<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!statistics">Statistiken</a></li>
        <li class="breadcrumb-item active" aria-current="page">Weekly Numbers</li>
    </ol>
</nav>
<h1 class="page-header"><span class="fas fa-chart-line"></span>  Statistiken</h1>

<div class="panel panel-default">
    <h3> Wöchentliche Zahlen - Ansprache und Telefonnotizen</h3>
    <br />
    <br />
    <div class="input-group sourcing-w-20 ml-2">
        <div class="input-group-prepend">
            <span class="input-group-text alert-info" id="inputGroup-sizing-default">Jahr </span>
        </div>
        <input class="form-control" type="number" id="yearToFilter" ng-model="yearToFilter" min="2017" value="2018" ng-change="update()" />
    </div>
    <br />

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 1
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 1">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 1">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 2
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 2">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 2">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 3
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 3">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 3">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    
    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 4
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 4">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 4">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 5
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 5">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 5">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 6
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 6">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 6">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>
    
    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 7
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 7">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 7">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 8
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 8">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 8">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 9
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 9">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 9">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 10
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 10">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 10">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 11
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 11">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 11">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 12
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 12">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 12">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 13
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 13">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 13">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 14
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 14">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 14">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 15
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 15">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 15">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 16
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 16">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 16">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 17
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 17">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 17">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-danger">
            Kalenderwoche 18
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 18">
                <button type="button" class="btn btn-danger">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 18">
                <button type="button" class="btn btn-danger">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 19
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 19">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 19">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 20
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 20">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 20">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 21
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 21">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 21">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 22
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 22">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 22">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>

            </p>

        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 23
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 23">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 23">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>

            </p>

        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 24
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 24">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 24">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>

            </p>

        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 25
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 25">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 25">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>

            </p>

        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 26
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 26">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 26">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>

            </p>

        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 27
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 27">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 27">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>

            </p>

        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 28
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 28">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 28">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>

            </p>

        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 29
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 29">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 29">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 30
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 30">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 30">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 31
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 31">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 31">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 32
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 32">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 32">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 33
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 33">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 33">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 34
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 34">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 34">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-warning">
            Kalenderwoche 35
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 35">
                <button type="button" class="btn btn-warning">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 35">
                <button type="button" class="btn btn-warning">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 36
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 36">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 36">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 37
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 37">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 37">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 38
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 38">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 38">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 39
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 39">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 39">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 40
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 40">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 40">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 41
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 41">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 41">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 42
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 42">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 42">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 43
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 43">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 43">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 44
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 44">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 44">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 45
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 45">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 45">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 46
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 46">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 46">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 47
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 47">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 47">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 48
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 48">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 48">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 49
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 49">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 49">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 50
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 50">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 50">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 51
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 51">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 51">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>

    <div class="card card_weekly">
        <div class="card-header alert-success">
            Kalenderwoche 52
        </div>
        <div class="card-body">
            <p ng-repeat="dataset in requestsByKW" ng-if="dataset.KW == 52">
                <button type="button" class="btn btn-success">
                    Ansprachen <span class="badge badge-light">{{dataset.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
            <p ng-repeat="dataset2 in telnoticeByKW" ng-if="dataset2.KW == 52">
                <button type="button" class="btn btn-success">
                    Telefonnotizen <span class="badge badge-light">{{dataset2.counts}}</span>
                    <span class="sr-only">-</span>
                </button>
            </p>
        </div>
    </div>
    <br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br />
</div>