<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!candidates_eR">eR-Kandidatenübersicht</a></li>
        <li class="breadcrumb-item active" aria-current="page">eR-Kandidaten bearbeiten</li>
    </ol>
</nav>
<h1 class="page-header"><span class="fas fa-user-astronaut"></span> Aktualisierter: {{candidate.firstname + ' ' + candidate.lastname}}</h1>

<div class="candidateedit">
    <div class="card w-50 p-3 m-5">
        <div class="card-body mb-1">
            <!-- Kandidat Name -->
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">Vorname</span>
                </div>
                <input type="text" class="form-control" id="candidateFirstname" ng-model="candidate.firstname" placeholder="Vorname" />
            </div>

            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">Nachname</span>
                </div>
                <input type="text" class="form-control" id="candidateLastname" ng-model="candidate.lastname" placeholder="Nachname" />
            </div>

            <!-- eRecruiter Nr -->
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">eRecruiter Nr</span>
                </div>
                <input type="text" class="form-control" id="eRNr" ng-model="candidate.eR" placeholder="#123456" />
            </div>

            
            <!-- Besetzung -->
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">Besetzung</span>
                </div>
                <input type='date' class="form-control" id="hire" ng-model="hire" placeholder="dd.mm.yyyy" />
            </div>

            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">Team</span>
                </div>
                <input type="text" class="form-control sourcing-width-150" id="teamName" ng-model="candidate.teamname" readonly />
                <select class="custom-select sourcing-width-150" id="teamSelect" ng-model="teamSelect" ng-change="showSelectValue(teamSelect)">
                    <option ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
                </select>
            </div>

            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">Recruiter</span>
                </div>
                <select class="custom-select" id="recruiter" ng-model="recruiterSelect" ng-change="updateRecruiter(recruiterSelect)">
                    <option ng-repeat="r in recruiter" value="{{r.id}}">{{r.firstname + ' ' + r.lastname}}</option>
                </select>
            </div>

            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">Job</span>
                </div>
                <select class="custom-select" id="job" ng-model="jobSelect" ng-change="updateJob(jobSelect)">
                    <option ng-repeat="j in jobs" value="{{j.id}}">{{j.jobtitle}}</option>
                </select>
            </div>

            <!-- Scoreboard -->
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text alert-info sourcing-width-150" id="inputGroup-sizing-default">Scoreboard</span>
                </div>
                <input type="text" class="form-control sourcing-width-150" id="scoreboardText" ng-model="candidate.scoreboardText" readonly />
                <select ng-model="candidate.scoreboard" class="form-control sourcing-width-full">
                    <option ng-value="0">Nein</option>
                    <option ng-value="1">Ja</option>
                </select>
            </div>           

                <!-- Button -->
                <button type="button" class="btn btn-info mb-1" ng-click="update()" accesskey="s"><span class="fas fa-user-check" aria-hidden="true"></span> Änderungen speichern </button>
                <button type="button" class="btn btn-danger mb-1" ng-click="delete()"><span class="fas fa-user-times" aria-hidden="true"></span> Kandidat löschen </button>

            </div>
    </div>


</div>