<h1 class="page-header"><span class="fas fa-user-friends"></span> {{team.name}}</h1>
<div class="useredit">
    <h3>Team bearbeiten</h3>
        <div class="card-body mb-1">
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info w-25">Name</div>
                <input type="text" class="form-control wdselect" ng-model="team.name" placeholder="Teamname">
            </div>
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info w-25">Gruppe</div><input type="text" ng-model="team.gruppe" />
                <select class="form-control wdselect" id="selectgroup">
                    <option ng-repeat="g in gruppe" value="{{g.id}}">{{g.city}}</option>
                </select>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info w-25">Aktiv</div>
                <select class="form-control wdselect" id="selectactive">
                    <option value="0">Nein</option>
                    <option value="1">Ja</option>
                </select>
            </div>
            <button type="button" class="btn btn-info mb-1" ng-click="update()"><span class="fas fa-check" aria-hidden="true"></span> Speichern</button>
        </div>
</div>