<h1 class="page-header"><span class="fas fa-flag-checkered"></span>  WIG - Übersicht</h1>
    <div class="panel panel-default">
        <div class="panel-heading pb-2">
            <a href="#!wig/new" class="btn btn-info">
                <span class="fas fa-plus" aria-hidden="true"></span> neues WIG
            </a>
        </div>
        <div class="panel-body">
            <table id="wigs" class="table table-striped">
                <thead class="thead-sourcing">
                    <tr>
                        <th>Name</th>
                        <th>Zeitraum</th>
                        <th>Ziel</th>
                        <th>aktuell</th>
                        <th> </th>
                        <th>im Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="w in wigs">
                        <td><a href="#!wigdetail/{{w.id}}">{{w.name}}</a></td>
                        <td>{{w.start | date: 'dd.MM.yyyy'}} - {{w.end | date: 'dd.MM.yyyy'}}</td>
                        <td>{{w.goal}}</td>
                        <td>{{w.hireThisYear}}</td>
                        <td ng-if="w.goal-w.hireThisYear >0" class="badge badge-danger mt-2">{{ (w.goal - w.hireThisYear)*-1 }}</td>
                        <td ng-if="w.goal-w.hireThisYear <0" class="badge badge-success mt-2">+{{ (w.goal - w.hireThisYear)*-1 }}</td>
                        <td>{{w.active}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>