<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!settings">Einstellungen</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kandidaten anonymisieren</li>
    </ol>
</nav>
<h1 class="page-header"><span class="fas fa-user-secret"></span>  Kandidaten anonymisieren</h1>

<div> <h4 class="alert alert-danger sourcing-w-30">Noch ohne Funktion!</h4> </div>

<div id="candidatesContent" class="panel panel-default">
    <div class="anonymizeCandidates">
        <table class="table_blank w-50" id="anonymizeCandidate">
            <tr>
                <td>Resarch vor: </td>
                <td><input type="date" class="anonymise-input sourcing-w-30" ng-model="from_research" value="2017-01-01" /></td>
            </tr>
            <tr>
                <td>letzte Aktion > </td>
                <td title="540 Tage = ca. 18 Monate"><input type="number" class="anonymise-input sourcing-w-30" ng-model="lastActivity" min="1" value="540" /> Tage</td>
            </tr>
            <tr>
                <td>
                    <div ng-click="searchCandidatesToAnonymize()" class="btn btn-info">
                        <span class="fas fa-search" aria-hidden="true"></span> Suchen
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <br /><br />
        <h6><span class="badge badge-info">{{countCandidate.countCandidate}}</span> Kandidaten in der Datenbank</h6>
    </div>
    <div ng-click="anonymizeSelectedCandidates()" class="btn btn-info">
        <span class="fas fa-bolt" aria-hidden="true"></span> Anonymisieren
    </div>
    <br />

    <div class="panel-body">
        <table id="candidates" class="table sortable">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-model="selectAllCandidates" /></th>
                    <th>#</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Quelle</th>
                    <th>eRecruiterNr.</th>
                    <th>Telefon-Notiz</th>
                    <th>Internes Gespräch</th>
                    <th>Externes Gespräch</th>
                    <th aria-sort="descending">Research</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr ng-repeat="c in candidates" ng-class="ishiredcandidate(c)">
                    <td><input type="checkbox" ng-model="selectedCandidate" /></td>
                    <td>{{c.id}}</td>
                    <td><b>{{c.sourcerName}}</b></td>
                    <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                    <td ng-if="c.source_text != null"><a href="{{c.source_text}}" target="_blank">{{c.source}}</a></td>
                    <td ng-if="c.source_text == null"><a>{{c.source}}</a></td>
                    <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                    <td ng-if="c.eR == null"> </td>
                    <td class="sorttable_numeric" sorttable_customkey="{{c.telnotice | date: 'yyyyMMddHHmmss'}}">{{c.telnotice | date: 'dd.MM.yyyy'}}</td>
                    <td class="sorttable_numeric" sorttable_customkey="{{c.intern | date: 'yyyyMMddHHmmss'}}">{{c.intern | date: 'dd.MM.yyyy'}}</td>
                    <td class="sorttable_numeric" sorttable_customkey="{{c.extern | date: 'yyyyMMddHHmmss'}}">{{c.extern | date: 'dd.MM.yyyy'}}</td>
                    <td class="sorttable_numeric" sorttable_customkey="{{c.research | date: 'yyyyMMddHHmmss'}}">{{c.research | date: 'dd.MM.yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

