<h1 class="page-header"><span class="glyphicon glyphicon-folder-open"></span>  Kandidatenübersicht</h1>


<div>
    <div class="circle"></div>
    <div class="circle1"></div>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading pb-2">
        <a href="#!candidate/new" class="btn btn-info">
            <span class="oi oi-plus" aria-hidden="true"></span> neuer Kandidat
        </a>
    </div>
    
    
    <div>
        <div class="panel-heading pb-2 pt-2">
            <span class="showusercandidates pr-3 alert alert-info mr-1 sourcing-width-250">
                <input type="checkbox" ng-model="showusercandidates" id="showusercandidates" ng-change="update()" /> Zeige nur meine Kandidaten
            </span>
            <span class="pr-3 alert alert-info mr-1 sourcing-width-250">
                <input type="checkbox" ng-model="showTracking" id="showTracking" ng-change="updateTracking()" /> Beobachten
            </span><br />
        </div>

        <div class="panel-heading pb-2 pt-2">
            <input type="text" class="alert alert-info sourcing-width-250" id="inputName" ng-keyup="searchNames()" placeholder="Nach Namen suchen" />
            <input type="text" class="alert alert-info sourcing-width-250" id="inputSource" ng-keyup="searchSource()" placeholder="Nach Quelle suchen" />
            <input type="text" class="alert alert-info sourcing-width-250" id="inputeR" ng-keyup="searcheR()" placeholder="Nach eR-Nr. suchen" />

        </div>
    </div>
    
    <div>
        <h6><span class="badge badge-info">{{countCandidate.countCandidate}}</span> Kandidaten in der Datenbank</h6>
    </div>
    
    

    <div class="panel-body">
        <table id="candidates" class="table sortable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Quelle</th>
                    <th>eRecruiterNr.</th>
                    <th>beobachten</th>
                    <th>Response</th>
                    <th>Telefon-Notiz</th>
                    <th>Internes Gespräch</th>
                    <th>Externes Gespräch</th>
                    <th aria-sort="descending">Research</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr ng-repeat="c in candidates">
                    <td><b>{{c.sourcerName}}</b></td>
                    <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                    <td ng-if="c.source_text != null"><a href="{{c.source_text}}" target="_blank">{{c.source}}</a></td>
                    <td ng-if="c.source_text == null"><a>{{c.source}}</a></td>
                    <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                    <td ng-if="c.eR == null"> </td>
                    <td>{{c.tracking}}</td>
                    <td>{{c.response}} {{c.response_value}}</td>
                    <td class="sorttable_numeric" sorttable_customkey="{{c.telnotice | date: 'yyyyMMddHHmmss'}}">{{c.telnotice | date: 'dd.MM.yyyy'}}</td>
                    <td>{{c.intern | date: 'dd.MM.yyyy'}}</td>
                    <td>{{c.extern | date: 'dd.MM.yyyy'}}</td>
                    <td>{{c.research | date: 'dd.MM.yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--
<script src='js/tablesort.min.js'></script>

<script src='js/tablesort.number.min.js'></script>
<script src='js/tablesort.date.min.js'></script>


<script>
    new Tablesort(document.getElementById('candidates'));

    refresh.refresh();
</script>
-->

<script>
    var sortableTable = document.getElementById(candidates);
    sorttable.makeSortable(sortableTable);

</script>

<script>
    $(document).ready(function () {
        $('.circle, .circle1').removeClass('stop');
        $('.triggerFull').click(function () {
            $('.circle, .circle1').toggleClass('stop');
        });
    });
</script>
    