<h1 class="page-header"><span class="oi oi-person"></span> {{candidate.firstname + ' ' + candidate.lastname}}</h1>

<div class="candidateedit">
    <div class="alert alert-danger" role="alert" ng-show="message && iserrmessage">
        <span class="oi oi-x" aria-hidden="true"></span> {{message}}
    </div>

    <div class="alert alert-success" role="alert" ng-show="message && !iserrmessage">
        <span class="oi oi-check" aria-hidden="true"></span> {{message}}
    </div>


    <div class="card w-50 p-3 m-5 card-float">
        <div class="card-body mb-1">
            <!-- Kandidat Name -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Vorname</div>
                <input type="text" class="form-control" id="candidateFirstname" ng-model="candidate.firstname" placeholder="Vorname" />
            </div>
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Nachname</div>
                <input type="text" class="form-control" id="candidateLastname" ng-model="candidate.lastname" placeholder="Nachname" />
            </div>

            <!-- Kandidat Quelle -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Quelle</div>
                <select class="custom-select wdselect" id="selectSource">
                </select>
            </div>

            <!-- Quelle Lang -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Quelle - Zusatz </div>
                <input type="text" class="form-control" id="source_text" ng-model="candidate.source_text" placeholder="Quelle Zusatz" />
            </div>

            <!-- eRecruiter Nr -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">eRecruiter Nr</div>
                <input type="text" class="form-control" id="eRNr" ng-model="candidate.eR" placeholder="#123456 " />
            </div>

            <!-- Tabelle für Beobachten, Ansprache, Response-->
            <table class="table mb-1">
                <tbody>
                    <tr>
                        <th class="sourcing-width-150" scope="row">Beobachten</th>
                        <td>
                            <select id="selectTracking" class="sourcing-width-full">
                                <option value="0">Nein</option>
                                <option value="1">Ja</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ansprache</th>
                        <td>
                            <select id="selectRequest" class="sourcing-width-full">
                                <option value="0">Nein</option>
                                <option value="1">Ja</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Response</th>
                        <td>
                            <select id="selectResponse" class="sourcing-width-full">
                                <option value="0">Nein</option>
                                <option value="1">Ja</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> </th>
                        <td>
                            <select id="selectResponseValue" class="sourcing-width-full">
                                <option value="0">Negativ</option>
                                <option value="1">Positiv</option>
                                <option value="2">noch keine Response erhalten</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Research -->
           <!-- <div class="input-group mb-1">
                <div class="input-group-addon alert-info">Research</div>
                <input type='date' class="form-control" id="research" name="research" ng-model="research" placeholder="dd.mm.yyyy" />
            </div>
-->
            <div class="input-group mb-1 date" >
                <div class="input-group-addon alert-info sourcing-width-150">Research</div>
                <input type='text' class="form-control" id="research" placeholder="dd.mm.yyyy" />
                <span class="input-group-addon">
                    <span class="oi oi-calendar"></span>
                </span>
            </div>

            <!-- Telefonnotiz -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Telefon-Notiz</div>
                <input type='text' class="form-control" id="telnotice" placeholder="dd.mm.yyyy" />
                <span class="input-group-addon">
                    <span class="oi oi-calendar"></span>
                </span>
            </div>

            <!-- Intern -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Internes Gespräch</div>
                <input type='text' class="form-control" id="intern" placeholder="dd.mm.yyyy" />
                <span class="input-group-addon">
                    <span class="oi oi-calendar"></span>
                </span>
            </div>

            <!-- Extern -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Externes Gespräch</div>
                <input type='text' class="form-control" id="extern" placeholder="dd.mm.yyyy" />
                <span class="input-group-addon">
                    <span class="oi oi-calendar"></span>
                </span>
            </div>

            <!-- Besetzung -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Besetzung</div>
                <input type='text' class="form-control" id="hire" placeholder="dd.mm.yyyy" />
                <span class="input-group-addon">
                    <span class="oi oi-calendar"></span>
                </span>
            </div>
            <!-- Besetzung -->
            <div class="input-group mb-1" ><!--ng-if="hire != null"-->
                <div class="input-group-addon alert-info sourcing-width-150">Team</div>
                <select class="custom-select wdselect" id="selectTeam">
                </select>
            </div>

            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Scoreboard</div>
                <select id="scoreboard" class="custom-select wdselect sourcing-width-full">
                    <option value="0">Nein</option>
                    <option value="1">Ja</option>
                </select>
            </div>

            <!-- Sourcer -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Sourcer</div>
                <select class="custom-select wdselect" id="selectSourcer">
                </select>
            </div>

            <!-- Infos -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">wichtige Infos</div>
                <textarea rows="5" class="form-control" id="candidateInfo" ng-model="candidate.info" placeholer="wichtige Infos"></textarea>
                
            </div>

            <!-- Button -->
            <button type="button" class="btn btn-info mb-1" ng-click="update()"><span class="oi oi-check" aria-hidden="true"></span> Kandidat speichern </button>

        </div>
    </div>

    <div class="card w-25 p-3 m-5 card-float">
        <h3 class="page-header"><span class="oi oi-monitor"></span> Information</h3>
        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Call</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToCall}}" /> 
        </div>

        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Interview</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToInterview}}" /> 
        </div>

        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Extern</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToExtern}}" />
        </div>

        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Hire</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToHire}}" />
        </div>

    </div>

</div>