<h1 class="page-header"><span class="oi oi-person"></span> {{candidate.firstname + ' ' + candidate.lastname}}</h1>

<div class="candidateedit">
    <div class="alert alert-danger" role="alert" ng-show="message && iserrmessage">
        <span class="oi oi-x" aria-hidden="true"></span> {{message}}
    </div>

    <div class="alert alert-success" role="alert" ng-show="message && !iserrmessage">
        <span class="oi oi-check" aria-hidden="true"></span> {{message}}
    </div>


    <div class="card w-50 p-3 m-5 card-float">
        <div class="card-body mb-1">
            <!-- Kandidat Name -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Vorname</div>
                <input type="text" class="form-control" id="candidateFirstname" ng-model="candidate.firstname" placeholder="Vorname" ng-blur="updateCandidate()" />
            </div>
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Nachname</div>
                <input type="text" class="form-control" id="candidateLastname" ng-model="candidate.lastname" placeholder="Nachname" ng-blur="updateCandidate()" />
            </div>

            <!-- Kandidat Quelle -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Quelle</div> 
                <input type="text" class="form-control sourcing-width-150" id="source" ng-model="candidate.source" placeholder="Quelle" readonly />
                <select class="custom-select wdselect" id="selectSource" ng-model="selectSource" ng-change="updateSource(selectSource)">
                    <option ng-repeat="s in sources" value="{{s.id}}">{{s.name}}</option>
                </select>
                
            </div>
            

            <!-- Quelle Lang -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Quelle - Zusatz </div>
                <input type="text" class="form-control" id="source_text" ng-model="candidate.source_text" ng-blur="updateCandidate()" placeholder="Quelle Zusatz" />
            </div>

            <!-- eRecruiter Nr -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">eRecruiter Nr</div>
                <input type="text" class="form-control" id="eRNr" ng-model="candidate.eR" ng-blur="updateCandidate()" placeholder="#123456" />
            </div>

            <!-- Tabelle für Beobachten, Ansprache, Response-->
            <table class="table mb-1">
                <tbody>
                    <tr>
                        <th class="sourcing-width-150" scope="row">Beobachten</th>
                        <td>
                            <select ng-model="candidate.tracking" class="sourcing-width-full" ng-blur="updateOptions()">
                                <option ng-value="0">Nein</option>
                                <option ng-value="1">Ja</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ansprache</th>
                        <td>
                            <select ng-model="candidate.request" class="sourcing-width-full" ng-blur="updateOptions()">
                                <option ng-value="0">Nein</option>
                                <option ng-value="1">Ja</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Response</th>
                        <td>
                            <select ng-model="candidate.response" class="sourcing-width-full" ng-blur="updateOptions()">
                                <option ng-value="0">Nein</option>
                                <option ng-value="1">Ja</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> </th>
                        <td>
                            <select ng-model="candidate.response_value" class="sourcing-width-full" ng-blur="updateOptions()">
                                <option ng-value="0">Negativ</option>
                                <option ng-value="1">Positiv</option>
                                <!--<option ng-value="null">noch keine Response erhalten</option>-->
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Research -->
           <!-- <div class="input-group mb-1">
                <div class="input-group-addon alert-info">Research</div>
                <input type='date' class="form-control" id="research" name="research" ng-model="research" placeholder="dd.mm.yyyy" />
            </div>
-->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Research</div>
                <input type='date' class="form-control" ng-model="candidate.research" value="{{ candidate.research | date: 'yyyy-MM-dd' }}" ng-model-options="{timezone:'UTC'}" ng-blur="updateResearch()"/>

            </div>

            <!-- Telefonnotiz -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Telefon-Notiz</div>
                <input type='date' class="form-control" ng-model="candidate.telnotice" value="{{ candidate.telnotice | date: 'yyyy-MM-dd' }}" ng-model-options="{timezone:'UTC'}" ng-blur="updateTelnotice()"/>
              
            </div>

            <!-- Intern -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Internes Gespräch</div>
                <input type='date' class="form-control" ng-model="candidate.intern" value="{{ candidate.intern | date: 'yyyy-MM-dd' }}" ng-model-options="{timezone:'UTC'}" ng-blur="updateIntern()"/>

            </div>

            <!-- Extern -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Externes Gespräch</div>
                <input type='date' class="form-control" ng-model="candidate.extern" value="{{ candidate.extern | date: 'yyyy-MM-dd' }}" ng-model-options="{timezone:'UTC'}" ng-blur="updateExtern()"/>

            </div>

            <!-- Besetzung -->
            <div class="input-group mb-1 date">
                <div class="input-group-addon alert-info sourcing-width-150">Besetzung</div>
                <input type='date' class="form-control" ng-model="candidate.hire" value="{{ candidate.hire | date: 'yyyy-MM-dd' }}" ng-model-options="{timezone:'UTC'}" ng-blur="updateHire()"/>
            </div>
            <!-- Besetzung -->
            <div class="input-group mb-1" ><!--ng-if="hire != null"-->
                <div class="input-group-addon alert-info sourcing-width-150">Team</div>
                <input type="text" class="form-control sourcing-width-150" id="team" ng-model="candidate.teamname" readonly />
                <select class="custom-select wdselect" id="selectTeam" ng-model="selectTeam" ng-change="updateTeam(selectTeam)">
                    <option ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
                </select>
            </div>





            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Scoreboard</div>
                <input type="text" class="form-control sourcing-width-150" id="scoureboard" ng-model="candidate.scoreboard_text" readonly />
                <select ng-model="scoreboard" class="custom-select wdselect sourcing-width-full" ng-change="updateScoreboard(scoreboard)">
                    <option value="0">Nein</option>
                    <option value="1">Ja</option>
                </select>
            </div>

            <!-- Sourcer -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">Sourcer</div>
                <input type="text" class="form-control sourcing-width-150" id="sourcerName" ng-model="candidate.sourcerName" readonly />
                <select class="custom-select wdselect" ng-model="selectSourcer" ng-change="updateSourcer()">
                    <option ng-repeat="s in sourcer" value="{{s.id}}">{{s.firstname + ' ' + s.lastname}}</option>
                </select>
            </div>

            <!-- Infos -->
            <div class="input-group mb-1">
                <div class="input-group-addon alert-info sourcing-width-150">wichtige Infos</div>
                <textarea rows="5" class="form-control" id="candidateInfo" ng-model="candidate.infos" ng-blur="updateCandidate()"></textarea>
                
            </div>

            <!-- Button -->
            <button type="button" class="btn btn-info mb-1" ng-click="update()"><span class="oi oi-check" aria-hidden="true"></span> Kandidat speichern </button>

        </div>
    </div>

    <div class="card w-25 p-3 m-5 card-float">
        <h3 class="page-header"><span class="oi oi-monitor"></span> Information</h3>
        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Call</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToCall}}" /> 
        </div>

        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Interview</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToInterview}}" /> 
        </div>

        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Extern</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToExtern}}" />
        </div>

        <div class="input-group mb-1">
            <div class="input-group-addon alert-info sourcing-width-150">Time-To-Hire</div>
            <input type="text" class="form-control sourcing-width-full" readonly value="{{candidate.timeToHire}}" />
        </div>

    </div>

</div>