<h1 class="page-header">Dashboard</h1>

<h2>Willkommen beim ePunkt Sourcing Reporting!</h2> Diese Webanwendung soll das Einpflegen, Verwalten und Analysieren der Sourcing-Kandidaten vereinfachen.<br>


<br> Die Webanwendung wurde serverseitig mit NodeJS inkl express-Framework umgesetzt.<br> Clientseitig besteht das Service aus HTML5-Seiten
mit jQuery und AngularJS. Außerdem wurden Teile des Bootstrap-Frameworks verwendet.<br>
<br><br>
<div class="panel panel-info" style="width:40%">
    <div class="panel-heading"><h4>Technische Umsetzung &amp; Support</h4></div>
    <div class="panel-body">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Viktoria Jechsmayr</h4>
                    <p class="card-text">Kontaktdaten findet ihr auf der ePunkt Webseite!</p>
                    <a href="https://www.epunkt.com/u/team/jechsmayr-viktoria/" class="btn btn-danger">zur ePunkt-Webseite</a>
                </div>
            </div>
    </div>
</div>