<h1 class="page-header"><span class="oi oi-bullhorn"></span> System- und Release Infos</h1>
Diese Webanwendung soll das Einpflegen, Verwalten und Analysieren der Sourcing-Kandidaten vereinfachen.<br>

<br><br>
<div class="panel panel-info">
    <div class="panel-heading"><h4>Release Infos</h4></div>
    <div class="panel-body">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../images/LinkedIn_Kathi-Roman.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Release 1.4 - 18.06.2018</h4>
                <p class="card-text">Neues in Version 1.4:</p>
                <ul>
                    <li><strong>Persönliches Dashboard als Startseite</strong> <br />Zahlen aus der Statistik-Seite herausgelöst und mit der für den aktuellen Monat aktuellen RememberMe-Liste ergänzt.<br />Du kannst die persönliche Startseite mit dem epunkt-Logo erreichen.</li>
                    <li>Neue Statistik: <strong>Response Value</strong> - gibt an wie viele Responses wird erhalten haben und wie viele davon positiv und negativ waren</li>
                    <li>Neue Statistiken: <strong>Time-to</strong>-Piecharts wurden hinzugefügt</li>
                    <li>Bugfix: <strong>Kandidaten löschen</strong> ohne Admin-Rechte nun möglich</li>
                    <li>Bugfix: Response von Ja auf Nein stellen - Response-Value wird automatisch zurückgesetzt</li>
                    <li>Bugfix: Besetzungen je Team - Filter-Funktion repariert</li>
                    <li><strong>Clean Code</strong>: Der Sourcecode wurde zusammengeräumt und sinnvollere Namen für Variablen und Funktionen vergeben (wodurch das halbe Tool zeitweise nicht mehr ging), aber zwegs Übersichtlichkeit und <br />"Viki hat nix mehr gefunden"-Situation notwendig war.</li>
                    <li>Unsere Sourcing-Helden stellen sich vor...</li>
                    <li><i>Easter Egg versteckt</i></li>
                </ul>
            </div>
        </div>
    </div>
    
    <br/>
    <div class="panel-heading"><h4>Technische Umsetzung &amp; Support</h4></div>
    <div class="panel-body card-float mr-4">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Viktoria Jechsmayr</h4>
                    <p class="card-text">Kontaktdaten findet ihr auf der ePunkt Webseite!</p>
                    <a href="https://www.epunkt.com/u/team/jechsmayr-viktoria/" class="btn btn-danger">zur ePunkt-Webseite</a>
                </div>
            </div>
    </div>

    <div class="panel-body">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="../images/Gotthard_LinkedIn.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">System-Info</h4>
                <p class="card-text">
                    Die Webanwendung wurde serverseitig mit <b>NodeJS</b> inkl express-Framework umgesetzt.<br> 
                    Clientseitig besteht das Service aus <b>HTML5-Seiten, CSS und dem AngularJS-Framework</b>. <br />
                    Außerdem wurden für das Design Teile des <b>Bootstrap</b>-Frameworks verwendet.<br>
                    <br />
                    Für die Statistiken wurde das <b>Chart.JS</b> Framework eingebunden.
                </p>
            </div>
        </div>
    </div>
    <br/>
    
</div>