<h1 class="page-header"><span class="oi oi-home"></span>  MyDashboard</h1>

<div class="panel panel-default">
    <br />
    <h5>Hallo Viktoria!</h5>


    <div class="panel-heading pb-2">
        <a href="#!candidate/new" class="btn btn-info">
            <span class="oi oi-plus" aria-hidden="true"></span> neuer Kandidat
        </a>
    </div>

    <div class="float-overflow">

        <div class="card sourcing-w-20 card-float2 m-2">
            <img class="card-img-top" src="../../images/Bojan_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Ansprachen gesamt 2018</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">
                                <h1>3229</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card sourcing-w-20 card-float2 m-2">
            <img class="card-img-top" src="../../images/Christopher_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Mein Jahr 2018</th>
                            <th>Anzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ansprachen</td>
                            <td>xx (xx nicht)</td>
                        </tr>
                        <tr>
                            <td>Telefon-Notizen</td>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <td>Besetzungen</td>
                            <td>xxx</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card sourcing-w-20 card-float2 m-2">
            <img class="card-img-top" src="../../images/EP-Link-Profil-9.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Meine Woche</th>
                            <th>Anzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ansprachen</td>
                            <td>xx (xx nicht)</td>
                        </tr>
                        <tr>
                            <td>Telefon-Notizen</td>
                            <td>xx</td>
                        </tr>
                        <tr>
                            <td>Besetzungen</td>
                            <td>xx</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

        <div class="card sourcing-w-30 card-float2 m-2">
            <img class="card-img-top" src="../../images/EP-Link-Profil-9.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>RememberMe - Mai 2018</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>eR</td>
                            <td>Datum</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="birthday">

        <b>Vorname</b> hat heute Geburtstag! <img src="../images/gift.png" width="30px" />

    </div>


</div>