<h1 class="page-header"><span class="fab fa-fort-awesome"></span>  MyDashboard</h1>

<div class="panel panel-default">
    <br />
    <h5>{{greetings}} {{user.firstname}}!</h5>

    <table>
        <tr>
            <td>
                <div class="panel-heading mr-2">
                    <a href="#!candidate/new" class="btn btn-info">
                        <span class="fas fa-user-plus" aria-hidden="true"></span> neuer Kandidat
                    </a>
                </div>
            </td>
            <td>
                <div class="input-group w-20">
                    <div class="input-group-addon alert-info w-50">Jahr </div>
                    <input class="form-control w-50" type="number" id="yearToFilter" ng-model="yearToFilter" min="2017" value="2018" ng-change="update()" />
                </div>
            </td>
        </tr>

    </table>

    <div class="float-overflow">

        <div class="card sourcing-w-20 card-float2 m-2">
            <img class="card-img-top" src="../../images/Bojan_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Ansprachen gesamt {{yearToFilter}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">
                                <h1>{{allRequests.requests}}</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Mein Jahr {{yearToFilter}}</th>
                            <th>Anzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ansprachen</td>
                            <td>{{myYear.request.request}} <span class="badge badge-info" title="Ich habe dieses Jahr bereits {{ myYear.request.request }} Kandidaten angeschrieben. Das sind {{myYear.request.request / allRequests.requests * 100 | number:2}} % des gesamten Sourcing-Teams!">{{myYear.request.request / allRequests.requests * 100 | number:2}} %</span> </td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>{{myYear.requests.response}} <span class="badge badge-info" title="{{myYear.requests.response / myYear.request.request * 100 | number:2}} % haben sich auf meine Ansprache zurückgemeldet (meine Response-Rate)!">{{myYear.requests.response / myYear.request.request * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td>Response positiv</td>
                            <td>{{myYear.requestsPositiv.response_positiv}} <span class="badge badge-success" title="{{myYear.requestsPositiv.response_positiv/myYear.requests.response * 100 | number:2}} % der Responses waren positiv">{{myYear.requestsPositiv.response_positiv/myYear.requests.response * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td>Response negativ</td>
                            <td>{{myYear.requestsNegativ.response_negativ}} <span class="badge badge-danger" title="{{myYear.requestsNegativ.response_negativ/myYear.requests.response * 100 | number:2}} % der Responses waren negativ">{{myYear.requestsNegativ.response_negativ/myYear.requests.response * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td><a href="#!telnoticeBySourcer">Telefon-Notizen</a></td>
                            <td>{{myYear.telNotice.telnotice}} <span class="badge badge-info" title="Mit {{myYear.telNotice.telnotice / myYear.request.request * 100 | number:2}} % meiner Ansprachen habe ich eine Telefonnotiz gemacht!">{{myYear.telNotice.telnotice / myYear.request.request * 100 | number:2}} %</span> <span class="badge badge-warning" title="Von allen meinen positiven Responses habe ich mit {{myYear.telNotice.telnotice / myYear.requestsPositiv.response_positiv * 100 | number:2}} % eine Telefonnotiz gemacht!">{{myYear.telNotice.telnotice / myYear.requestsPositiv.response_positiv * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td>Interne Gespräche</td>
                            <td>
                                {{myYear.intern.intern}} <span class="badge badge-info" title="Mit {{myYear.intern.intern / myYear.request.request * 100 | number:2}} % meiner Ansprachen wurde ein interes Gespräch geführt!">{{myYear.intern.intern / myYear.request.request * 100 | number:2}} %</span> <span class="badge badge-warning" title="Mit {{myYear.intern.intern / myYear.telNotice.telnotice * 100 | number:2}} % meiner Telefonnotizen wurde ein interes Gespräch geführt!">{{myYear.intern.intern / myYear.telNotice.telnotice * 100 | number:2}} %</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Besetzungen</td>
                            <td>{{myYear.hires.hire}} <span class="badge badge-info" title="{{myYear.hires.hire / myYear.request.request * 100 | number:2}} % meiner Ansprachen wurden Besetzt!">{{myYear.hires.hire / myYear.request.request * 100 | number:2}} %</span> <span class="badge badge-warning" title="{{myYear.hires.hire / myYear.telNotice.telnotice * 100 | number:2}} % meiner Telefonnotizen wurden Besetzt!">{{myYear.hires.hire / myYear.telNotice.telnotice * 100 | number:2}} %</span>
							</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card sourcing-w-20 card-float2 m-2">
            <img class="card-img-top" src="../../images/EP-Link-Profil-9.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th><span class="far fa-calendar-alt" aria-hidden="true"></span> Meine Woche</th>
                            <th>Anzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ansprachen</td>
                            <td>{{myWeek.request.request}}</td>
                        </tr>
                        <tr>
                            <td>nicht angesprochen</td>
                            <td>{{myWeek.notRequested.notRequested}}</td>
                        </tr>
                        <tr>
                            <td>Telefon-Notizen</td>
                            <td>{{myWeek.telnotice.telnotice}}</td>
                        </tr>
                        <tr>
                            <td>Besetzungen</td>
                            <td>{{myWeek.hires.hire}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="card sourcing-w-25 card-float2 m-2">
            <img class="card-img-top" src="../../images/Johanna_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th> </th>
                            <th colspan="3"><span class="fas fa-user-clock" aria-hidden="true"></span> Meine RememberMe-Liste</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in candidate">
                            <td ng-if="c.infos != null"><a class="fas fa-info-circle" title="{{c.infos}}"></a></td>
                            <td ng-if="c.infos == null"> </td>
                            <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                            <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                            <td ng-if="c.eR == null"> </td>
                            <td class="sorttable_numeric" sorttable_customkey="{{c.rememberMe | date: 'yyyyMMddHHmmss'}}">{{c.rememberMe | date: 'dd.MM.yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card sourcing-w-25 card-float2 m-2">
            <img class="card-img-top" src="../../images/Wolfgang_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th> </th>
                            <th colspan="3"><span class="fas fa-phone" aria-hidden="true"></span> Meine Telefonnotizen diese Woche</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in candidateTelNotice">
                            <td ng-if="c.infos != null"><a class="fas fa-info-circle" title="{{c.infos}}"></a></td>
                            <td ng-if="c.infos == null"> </td>
                            <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                            <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                            <td ng-if="c.eR == null"> </td>
                            <td class="sorttable_numeric" sorttable_customkey="{{c.telnotice | date: 'yyyyMMddHHmmss'}}">{{c.telnotice | date: 'dd.MM.yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="birthdayParent">
        <div class="birthday" ng-repeat="b in birthdays">
            <b>{{b.firstname}}</b> hat heute Geburtstag! <img src="../images/gift.png" width="30" />
        </div>
    </div>

</div>