<h1 class="page-header"><span class="oi oi-home"></span>  MyDashboard</h1>
<div class="alert alert-danger top-right" role="alert" ng-show="message && iserrmessage">
    <span class="oi oi-flash" aria-hidden="true"></span>
    {{message}}
</div>

<div class="alert alert-success top-right" role="alert" ng-show="message && !iserrmessage">
    <span class="oi oi-check" aria-hidden="true"></span>
    {{message}}
</div>

<div class="panel panel-default">
    <br />
    <h5>{{greetings}} {{user.firstname}}!</h5>

    <table>
        <tr>
            <td>
                <div class="panel-heading mr-2">
                    <a href="#!candidate/new" class="btn btn-info">
                        <span class="oi oi-plus" aria-hidden="true"></span> neuer Kandidat
                    </a>
                </div>
            </td>
            <td>
                <div class="input-group w-20">
                    <div class="input-group-addon alert-info w-50">Jahr </div>
                    <input class="form-control w-50" type="number" id="yearToFilter" ng-model="yearToFilter" min="2017" value="2018" ng-change="update()" />
                </div>
            </td>
        </tr>

    </table>

    <div class="float-overflow">

        <div class="card sourcing-w-20 card-float2 m-2">
            <img class="card-img-top" src="../../images/Bojan_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Ansprachen gesamt {{yearToFilter}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">
                                <h1>{{allRequests.requests}}</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Mein Jahr {{yearToFilter}}</th>
                            <th>Anzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ansprachen</td>
                            <td>{{myYear.request.request}} <span class="badge badge-info" title="Anteil an den gesamten Ansprachen">{{myYear.request.request / allRequests.requests * 100 | number:2}} %</span> </td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>{{myYear.requests.response}} <span class="badge badge-info" title="meine Response Rate">{{myYear.requests.response / myYear.request.request * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td>Response positiv</td>
                            <td>{{myYear.requestsPositiv.response_positiv}} <span class="badge badge-success">{{myYear.requestsPositiv.response_positiv/myYear.requests.response * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td>Response negativ</td>
                            <td>{{myYear.requestsNegativ.response_negativ}} <span class="badge badge-danger">{{myYear.requestsNegativ.response_negativ/myYear.requests.response * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td>Telefon-Notizen</td>
                            <td>{{myYear.telNotice.telnotice}} <span class="badge badge-info" title="Convertion Rate Ansprache-Telefonnotiz">{{myYear.telNotice.telnotice / myYear.request.request * 100 | number:2}} %</span></td>
                        </tr>
                        <tr>
                            <td>Besetzungen</td>
                            <td>{{myYear.hires.hire}} <span class="badge badge-info" title="Convertion Rate Ansprache-Besetzung">{{myYear.hires.hire / myYear.request.request * 100 | number:2}} %</span> <span class="badge badge-warning" title="Convertion Rate Telefonnotiz-Besetzung">{{myYear.hires.hire / myYear.telNotice.telnotice * 100 | number:2}} %</span>
							</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card sourcing-w-20 card-float2 m-2">
            <img class="card-img-top" src="../../images/EP-Link-Profil-9.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Meine Woche</th>
                            <th>Anzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ansprachen</td>
                            <td>{{myWeek.request.request}}</td>
                        </tr>
                        <tr>
                            <td>nicht angesprochen</td>
                            <td>{{myWeek.notRequested.notRequested}}</td>
                        </tr>
                        <tr>
                            <td>Telefon-Notizen</td>
                            <td>{{myWeek.telnotice.telnotice}}</td>
                        </tr>
                        <tr>
                            <td>Besetzungen</td>
                            <td>{{myWeek.hires.hire}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="card sourcing-w-25 card-float2 m-2">
            <img class="card-img-top" src="../../images/Johanna_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Meine RememberMe-Liste</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in candidate">
                            <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                            <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                            <td ng-if="c.eR == null"> </td>
                            <td class="sorttable_numeric" sorttable_customkey="{{c.rememberMe | date: 'yyyyMMddHHmmss'}}">{{c.rememberMe | date: 'dd.MM.yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card sourcing-w-25 card-float2 m-2">
            <img class="card-img-top" src="../../images/Wolfgang_LinkedIn.jpg" alt="Card image cap">
            <div class="card-block">
                <table id="requests" class="table">
                    <thead>
                        <tr>
                            <th>Meine Telefonnotizen diese Woche</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in candidateTelNotice">
                            <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                            <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                            <td ng-if="c.eR == null"> </td>
                            <td class="sorttable_numeric" sorttable_customkey="{{c.telnotice | date: 'yyyyMMddHHmmss'}}">{{c.telnotice | date: 'dd.MM.yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="birthdayParent">
        <div class="birthday" ng-repeat="b in birthdays">
            <b>{{b.firstname}}</b> hat heute Geburtstag! <img src="../images/gift.png" width="30" />
        </div>
    </div>

</div>