<h1 class="page-header"><span class="fas fa-code"></span> System- und Release Infos</h1>
Diese Webanwendung soll das Einpflegen, Verwalten und Analysieren der Sourcing-Kandidaten vereinfachen.<br>

<br><br>
<div class="panel panel-info">
    <div class="panel-heading"><h4>Release Infos</h4></div>
    <div class="panel-body">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../images/LinkedIn_Kathi-Roman.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Release 1.6 - 05.10.2018</h4>
                <p class="card-text">Neues in Version 1.6:</p>
                <ul>
                    <li><strong>Kandidatensuche</strong> in der Nav-Bar rechts oben</li>
                    <ul>
                        <li>Suche nach Vorname UND Nachname</li>
                        <li>Suche nach eR-Nummer (war bereits in v1.5 verfügbar)</li>
                        <li>Suche nach Quelle-Zusatz (Link) (war bereits in v1.5 verfügbar)</li>
                    </ul>
                    <li><strong>Kandidatenübersicht</strong> </li>
                        <ul>
                            <li>zeigt nun standardmäßig nur die eigenen Kandidaten (wird somit schneller geladen)</li>
                            <li>es kann nach allen Kandidaten gefiltert werden</li>
                            <li><i>BUGFIX</i> "Ansprache"-Filter ja/nein Fehler im Backend behoben</li>
                        </ul>
                    <li><strong>Besetzungsliste</strong> kann nun nach Team gefiltert werden</li>
                    <li>Infos von Kandidaten werden auf der Kandidatenübersicht, der RememberMe-Liste und im persönlichen Dashboard direkt angezeigt</li>
                    <li>Kandidatendetails: Vorauswahl ohne "hilfsfeld" möglich - jedoch <strong>noch inkl. BUG</strong>: Dropdown beinhaltet alles 2x (Sourcer, Teams, Quellen) -> ich arbeite am BUGFIX</li>
                    <li>weitere Zahlen am <strong>persönlichen Dashboard</strong>, inkl. Beschreibung bei Mouse-Over</li>
                    <li>Benutzer</li>
                    <ul>
                        <li>neue Eingabefelder: Hero, Geburtstag, bei epunkt seit, Herobeschreibung</li>
                        <li>Sourcing-Hero Übersicht wird nun direkt aus der Datenbank geladen und nicht "hardcoded"</li>
                    </ul>
                    <li><strong>Recruiter</strong> hinzugefügt</li>
                    <ul>
                        <li>Übersichtsseite</li>
                        <li>neuen Recruiter hinzufügen</li>
                        <li>Recruiter zu Kandidaten zuweisen (wer hat diesen Kandidaten vermittelt)</li>
                        <li>BUG: Anzeige in Dropdown --> <strong>BUGFIX</strong> ist in arbeit</li>
                    </ul>
                    <li><strong>Jobs (Kategorien und Profile)</strong> hinzugefügt</li>
                    <ul>
                        <li>Übersichtsseite</li>
                        <li>neue Kategorie/Profil hinzufügen</li>
                        <li>Job zu Kandidaten zuweisen (als was wurde dieser Kandidaten vermittelt)</li>
                        <li>BUG: Anzeige in Dropdown --> <strong>BUGFIX</strong> ist in arbeit</li>
                    </ul>
                    <li><strong>Breadcrumbs</strong> hinzugefügt - zur besseren Navigation</li>
                    <li><strong>Statistik</strong></li>
                    <ul>
                        <li>numbersAllSourcer - Statistiken von der persönlichen Startseite zu den Convertion Rates je Sourcer für alle sichtbar</li>
                        <li>Besetzungen je Team - auch eR-Kandidaten werden nun in der Statistik als 2.Dataset dargestellt</li>
                        <li>Time-To-Max Listen - Fehler behoben dass nur Kandidaten der letzten 6 Monate kontrolliert wurden - nun werden alle 1970er Kandidaten (falls vorhanden) angezeigt</li>
                    </ul>
                    <li><strong>Bootstrap CSS Update</strong> von Version 3 auf Version 4 -> es sah seeeehr schlecht aus zu beginn, wollte schon wieder downgraden, hab' mich aber durchgebissen</li>
                </ul>
            </div>
        </div>
    </div>

    <br />
    <div class="panel-heading"><h4>Technische Umsetzung &amp; Support</h4></div>
    <div class="panel-body card-float mr-4">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Viktoria Jechsmayr</h4>
                <p class="card-text">Ihr wisst wer ich bin... <span class="fas fa-bug" title="Bug gefunden? It's a feature!"></span></p>
                <a href="https://www.epunkt.com/u/team/jechsmayr-viktoria/" class="btn btn-danger card-buttons">epunkt</a>
                <a href="https://www.linkedin.com/in/viktoria-jechsmayr/" class="btn btn-danger card-buttons"><span class="fab fa-linkedin"></span> LinkedIn</a>
                <a href="https://stackoverflow.com/users/8055029/viktoria-jechsmayr" class="btn btn-danger card-buttons"> <span class="fab fa-stack-overflow"></span> StackOverflow</a>
                <a href="https://github.com/vJechsmayr" class="btn btn-danger card-buttons"><span class="fab fa-github"></span> GitHub</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="../images/Gotthard_LinkedIn.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">System-Info</h4>
                <p class="card-text">
                    Die Webanwendung wurde serverseitig mit <b><a href="https://nodejs.org/de/" target="_blank">NodeJS <span class="fab fa-node-js"></span></a></b> inkl express-Framework umgesetzt.
                    Clientseitig besteht der Web-Service aus <b>HTML5-Seiten <span class="fab fa-html5"></span>, CSS <span class="fab fa-css3-alt"></span> und dem <a href="https://angular.io/" target="_blank">Angular</a>-Framework</b>. Die Seiten werden asynchron mit <b>AJAX</b> bei Bedarf nachgeladen.<br />
                    Außerdem wurde für das Design das <b><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></b>-Framework verwendet.<br>
                    <br />
                    <b>verwendete JavaScript-Frameworks</b>:
                    <ul>
                        <li>Grundfunktionen: </li>
                        <ul>
                            <li><a href="https://angular.io/" target="_blank">Angular <span class="fab fa-angular"></span></a></li>
                            <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
                        </ul>
                        <li>Statistiken:</li>
                            <ul><li><a href="http://www.chartjs.org/" target="_blank">Chart.JS</a></li></ul>
                        <li>Alerts: </li>
                            <ul><li><a href="https://alertifyjs.com/" target="_blank">AlertifyJS</a></li></ul>
                        <li>Icons: </li>
                        <ul><li><a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">Font Awesome (free)</a></li></ul>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <br />
</div>