<h1 class="page-header"><span class="fas fa-code"></span> System- und Release Infos</h1>
Diese Webanwendung soll das Einpflegen, Verwalten und Analysieren der Sourcing-Kandidaten vereinfachen.<br>

<br><br>
<div class="panel panel-info">
    <div class="panel-heading"><h4>Release Infos</h4></div>
    <div class="panel-body">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../images/LinkedIn_Kathi-Roman.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Release 1.5 - 20.07.2018</h4>
                <p class="card-text">Neues in Version 1.5:</p>
                <ul>
                    <li><strong>Kandidatensuche</strong> in der Nav-Bar rechts oben hinzugefügt</li>
                    <ul>
                        <li>Suche nach Vorname ODER Nachname</li>
                        <li>Suche nach eR-Nummer</li>
                        <li>Suche nach Quelle-Zusatz (Link)</li>
                    </ul>
                    <li><strong>Alertify</strong> als Framework für die Alerts (Benachrichtigungen) eingefügt</li>
                    <ul>
                        <li>Benachrichtigungen werden nun rechts unten übereinander gestaffelt angezeigt, statt rechts oben (übereinander)</li>
                        <li>Benachrichtigungen werden nun nach einer gewissen Zeit automatisch ausgeblendet (und bleiben nicht ewig stehen)</li>
                    </ul>
                    <li><strong>Einstellungen</strong> wurden ins Menü übernommen</li>
                    <ul>
                        <li>Menü wird dadurch übersichtlicher</li>
                        <li>Teams, Quellen, Benutzer in Einstellungen verschoben</li>
                        <li>Kandidaten anonymisieren (DSGVO) in Einstellungen hinzugefügt - jedoch noch ohne Backend-Funktionalität</li>
                    </ul>
                    <li><strong>Responsive Design</strong> begonnen - Darstellung auf hp epunkt Laptops angepasst</li>
                    <li><strong>Time-To-Max Listen</strong> hinzugefügt (für Fehlersuche bei Time-To (6M) Anzeige)</li>
                    <li><strong>BUGFIX: RememberMe-Liste</strong> kann nun nach Datum sortiert werden</li>
                    <li><strong>BUGFIX: Besetzungs-Liste</strong> kann nun nach Datum sortiert werden</li>
                    <li><strong>myDashboard</strong></li>
                    <ul>
                        <li>myRememberMe-Liste: Anzeige aller Kandidaten <strong>bis zum aktuellen Monat</strong>, bisher wurde nur das aktuelle Monat angezeigt; nun werden auch die "älteren" RememberMe angezeigt</li>
                        <li>Übersicht meiner Telefonnotizen dieser Woche</li>
						<li>Anzeige von Ansprache/nicht angesprochen (meine Woche)</li>
                        <li>Anzeige von Response (inkl. persönlicher Response Rate), Aufteilung auf positive und negative Response (inkl. %-Angabe)</li>
                    </ul>
                    <li><strong>Sourcing-Heros</strong> Übersicht hinzugefügt</li>
                    <li><strong>Enter bei Login</strong> funktioniert nun</li>
                </ul>

                <h5>Easter Egg 1</h5>
                <p>Aufgedeckt von <strong>Julia</strong>: Ansprache auf myDashboard ändert sich je Tageszeit</p>

                <h5>Easter Egg 2</h5>
                <p>Noch nicht aufgedeckt...</p>
            </div>
        </div>
    </div>

    <br />
    <div class="panel-heading"><h4>Technische Umsetzung &amp; Support</h4></div>
    <div class="panel-body card-float mr-4">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Viktoria Jechsmayr</h4>
                <p class="card-text">Ihr wisst wer ich bin... <span class="fas fa-bug" title="Bug gefunden? It's a feature!"></span></p>
                <a href="https://www.epunkt.com/u/team/jechsmayr-viktoria/" class="btn btn-danger card-buttons">epunkt</a>
                <a href="https://www.linkedin.com/in/viktoria-jechsmayr/" class="btn btn-danger card-buttons"><span class="fab fa-linkedin"></span> LinkedIn</a>
                <a href="https://stackoverflow.com/users/8055029/viktoria-jechsmayr" class="btn btn-danger card-buttons"> <span class="fab fa-stack-overflow"></span> StackOverflow</a>
                <a href="https://github.com/vJechsmayr" class="btn btn-danger card-buttons"><span class="fab fa-github"></span> GitHub</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="../images/Gotthard_LinkedIn.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">System-Info</h4>
                <p class="card-text">
                    Die Webanwendung wurde serverseitig mit <b><a href="https://nodejs.org/de/">NodeJS</a></b> inkl express-Framework umgesetzt.
                    Clientseitig besteht der Web-Service aus <b>HTML5-Seiten, CSS und dem <a href="https://angular.io/">Angular</a>-Framework</b>. Die Seiten werden asynchron mit <b>AJAX</b> bei Bedarf nachgeladen.<br />
                    Außerdem wurde für das Design das <b><a href="https://getbootstrap.com/">Bootstrap</a></b>-Framework verwendet.<br>
                    <br />
                    <b>verwendete JavaScript-Frameworks</b>:
                    <ul>
                        <li>Grundfunktionen: </li>
                        <ul>
                            <li><a href="https://angular.io/">Angular</a></li>
                            <li><a href="https://jquery.com/">jQuery</a></li>
                        </ul>
                        <li>Statistiken:</li>
                        <ul><li><a href="http://www.chartjs.org/">Chart.JS</a></li></ul>
                        <li>Alerts: </li>
                        <ul><li><a href="https://alertifyjs.com/">AlertifyJS</a></li></ul>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <br />

    <h3><span class="fas fa-users"></span> fas fa-users</h3> 
    <h3><span class="fas fa-user-plus"></span> fas fa-user-plus</h3> 
    <h3><span class="fas fa-times"></span> fas fa-times</h3> 
    <h3><span class="fas fa-search"></span> fas fa-search</h3> 
    <h3><span class="far fa-grin-stars"></span> far fa-grin-stars</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    <h3><span class="fas fa-cog"></span> fas fa-cog</h3>
    <h3><span class="fas fa-user-shield"></span> fas fa-user-shield</h3>
    <h3><span class="fas fa-sign-out-alt"></span> fas fa-sign-out-alt</h3>
    <h3><span class="fas fa-user-astronaut"></span> fas fa-user-astronaut</h3>
    <h3><span class="fas fa-chart-line"></span> fas fa-chart-line</h3>
    <h3><span class="fas fa-user-clock"></span> fas fa-user-clock</h3>
    <h3><span class="fas fa-code"></span> fas fa-code</h3>
    <h3><span class="fas fa-user-ninja"></span> fas fa-user-ninja</h3>
    <h3><span class="fas fa-desktop"></span> fas fa-desktop</h3>
    <h3><span class="fas fa-user-secret"></span> fas fa-user-secret</h3>
    <h3><span class="fas fa-bolt"></span> fas fa-bolt</h3>
    <h3><span class="fas fa-user-edit"></span> fas fa-user-edit</h3>
    <h3><span class="fas fa-chalkboard-teacher"></span> fas fa-chalkboard-teacher</h3>
    <h3><span class="fas fa-user-times"></span> fas fa-user-times</h3>
    <h3><span class="fas fa-user-check"></span> fas fa-user-check</h3>
    <h3><span class="fas fa-user"></span> fas fa-user</h3>
    <h3><span class="fas fa-check"></span> fas fa-check</h3>
    <h3><span class="fas fa-user-friends"></span> fas fa-user-friends</h3>
    <h3><span class="far fa-calendar-alt"></span>far fa-calendar-alt</h3>
    <h3><span class="fas fa-phone"></span> fas fa-phone</h3>
    <h3><span class="fab fa-stack-overflow"></span> fab fa-stack-overflow</h3>
    <h3><span class="fab fa-github"></span> fab fa-github</h3>
    <h3><span class="fab fa-linkedin"></span> fab fa-linkedin</h3>
    <h3><span class="fas fa-cogs"></span> fas fa-cogs</h3> 
    <h3><span class="far fa-compass"></span> far fa-compass</h3> 
    <h3><span class="fas fa-plus"></span> fas fa-plus</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    <h3><span class="fas fa-star"></span> fas fa-star</h3> 
    

</div>