<h1 class="page-header"><span class="oi oi-clock"></span>  RememberMe - Liste</h1>

<div id="candidatesContent" class="panel panel-default">
   
    <div class="filter_header">
        

        <div class="panel-heading pb-2 pt-2 pr-2">
            <input type="text" class="alert alert-info sourcing-width-250" id="inputName" ng-keyup="searchNames()" placeholder="Nach Namen suchen" />
            <input type="text" class="alert alert-info sourcing-width-250" id="inputSource" ng-keyup="searchSource()" placeholder="Nach Quelle suchen" />
            <input type="text" class="alert alert-info sourcing-width-250" id="inputeR" ng-keyup="searcheR()" placeholder="Nach eR-Nr. suchen" />

        </div>

        <div>

                <div class="input-group mt-4 w-75">
                    <span class="showusercandidates alert alert-info sourcing-w-30">
                        <input type="checkbox" ng-model="showusercandidates" id="showusercandidates" /> Zeige nur meine Kandidaten
                    </span>
                  <br />
                        <div class="input-group-addon alert-info sourcing-width-150 sourcing-h-50 ml-2 round_div">Monat</div>
                        <input type="month" class="form-control-sourcing-w-20 sourcing-h-50" id="filter_month" ng-model="filter_month" />
                
                </div>


            <div ng-click="resetFilter()" class="btn btn-danger padding-buttons">
                <span class="oi oi-x" aria-hidden="true"></span> Filter zurücksetzen
            </div>
            <div ng-click="filterCandidates()" class="btn btn-info padding-buttons">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Filtern
            </div>

        </div>



    </div>

   

    <div class="panel-body mt-4">
        <table id="candidates" class="table sortable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Quelle</th>
                    <th>eRecruiterNr.</th>
                    <th>beobachten</th>
                    <th>Response</th>
                    <th>Telefon-Notiz</th>
                    <th>RememberMe</th>
                    <th aria-sort="descending">Research</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr ng-repeat="c in candidate">
                    <td>{{c.id}}</td>
                    <td><b>{{c.sourcerName}}</b></td>
                    <td><a href="#!candidatedetail/{{c.id}}">{{c.firstname + ' ' + c.lastname}}</a></td>
                    <td ng-if="c.source_text != null"><a href="{{c.source_text}}" target="_blank">{{c.source}}</a></td>
                    <td ng-if="c.source_text == null"><a>{{c.source}}</a></td>
                    <td ng-if="c.eR != null"><a href="https://epunkt.erecruiter.net/Core/Applicant/Applicant.aspx?Id={{c.eR}}" target="_blank">#{{c.eR}}</a></td>
                    <td ng-if="c.eR == null"> </td>
                    <td>{{c.tracking}}</td>
                    <td>{{c.response}} {{c.response_value}}</td>
                    <td class="sorttable_numeric" sorttable_customkey="{{c.telnotice | date: 'yyyyMMddHHmmss'}}">{{c.telnotice | date: 'dd.MM.yyyy'}}</td>
                    <td class="sorttable_numeric" sorttable_customkey="{{c.rememberMe | date: 'yyyyMMddHHmmss'}}">{{c.rememberMe | date: 'dd.MM.yyyy'}}</td>
                    <td>{{c.research | date: 'dd.MM.yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<script>
    var sortableTable = document.getElementById("candidates");
    sorttable.makeSortable(sortableTable);
</script>

    