<h1 class="page-header"><span class="fas fa-user-ninja"></span> Scoreboard - Unsere Sourcer und ihre Helden</h1>

<div class="panel panel-default float-overflow">

    <div class="card card-float m-2" style="width: 18rem;" ng-repeat="h in helden">
        <div class="card-header alert-info">
            <h5>{{h.hero}}</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/{{h.imageName}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>{{h.firstname}}</h5> <b>{{h.start}}</b><br>{{h.heroDescr}}</p>
        </div>
    </div>





    <!--<div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Wickie</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Wickie.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Michaela</h5> <b>Head of Sourcing seit Anbeginn der Sourcing-Zeit</b><br>Hey Hey Wickie – hey Wickie hey :) <br>Mein Superheld ist ein Kind – Wicki, der mit seinen genialen Ideen immer in letzter Minute die gesamte Mannschaft an Wikingern (Erwachsene) rettet. <br /><br /><i>Mich motiviert: das innere Kind, das kreativ und innovativ auch schwierigste Situationen löst.</i></p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Pumuckl</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Pumuckl.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Daniela</h5> <b>Start: Mai 2016</b><br />Meister Eder und sein Pumuckl ist eine deutsche Hörspiel- & Fernsehserie und basiert auf den gleichnamigen Büchern von Ellis Kaut.<br />Pumuckl ist ein rothaariger Kobold, der beim Schreinermeister Eder lebt. Er ist für jeden Menschen – mit Ausnahme von Meister Eder – unsichtbar.<br />Pumuckl liebt knisterndes Papier, glitzernde Gegenstände, Schokolade, Pudding, Segelboote und Unordnung und hat eine starke Abneigung gegen Katzen, <br>Heinzelmännchen und Gartenzwerge. Seine Leidenschaften sind das Aushecken von Streichen und das Dichten.</p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Batman</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Batman.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Theresa</h5> <b>Start: September 2016</b><br />Batman ist einer der geschicktesten und erfahrensten Kämpfer seiner Zeit. Seine körperlichen Fähigkeiten und sein technischer Einfallsreichtum machen ihn zu einem unberechenbaren und vorausschauenden Gegner. Zum Schutz seiner Identität und zur Einschüchterung seiner Gegner setzt er auf einen innovativen Anzug in Form einer Fledermaus. Im Kampf verzichtet er weitgehend auf Schusswaffen und vermeidet es, seine Gegner zu töten. <i>Christian Bale als Batman und die Gänsehaut-Filmmusik (Fledermaus-Flügel-Sound) haben mich überzeugt.</i></p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Harry Potter</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Harry Potter.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Eric</h5> <b>Start: Februar 2017</b><br />Harry Potter ist der Hauptprotagonist aus der gleichnamigen Fantasy-Romanreihe von Joanne K. Rowling. <br>Während seines Aufenthaltes an der Hogwarts Schule für Hexerei & Zauberei erlebt er zahlreiche Abendteuer und trotz mithilfe seiner Magie allen Gefahren – nicht zuletzt Lord Voldemort, dem Mörder seiner Eltern.</p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Elsa</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Elsa.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <h5>Vanessa</h5> <b>Start: Juni 2017</b><br />Elsa ist die Eiskönigin und hat als solche die vollständige Kontrolle über kalte Temperaturen und Eis und Schnee. Mit ihren Fähigkeiten, kann Elsa zaubern und verschiedene Dinge aus Eis formen wie z. B. Schneestürme. Die meisten ihrer Kräfte werden über ihre Hände entfesselt und von ihren Gefühlen gesteuert. Sie lässt die Sicherheit des Schlosses hinter sich. Sie gibt ihren Status als Königin von Arendel auf, um sie selber zu werden und zeigt Mut. <i>Genau das ist es, was Elsa für mich zur Superheldin macht.</i>
            </p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Wonder Woman</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/WonderWoman2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Maria</h5> <b>Start: August 2017</b><br />Diana ist eine Schwarzhaarige starke Amazonenprinzessin, die übermenschlich stark war und gut kämpfen konnte. Wonder Womans Superkräfte sind übermenschliche Stärke, Schnelligkeit und die Fähigkeit, fliegen zu können. Sie erhielt ihre Superkräfte als Geschenk der griechischen Götter. Zu ihrer Ausrüstung gehören das Goldene Lasso der Wahrheit. Um die Handgelenke trägt sie silberne Armbänder, mit denen sie (dank ihrer Super-Schnelligkeit) Kugeln abfangen kann. Ihr goldener Stirnreif dient ihr ebenfalls als Waffe. </p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Son Goku</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/SonGoku.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Viktoria</h5> <b>Start: Oktober 2017</b><br />Um den Frieden zu sichern und die Erde zu retten, kämpfen Son Goku und seine Freunde mit Dämonen, gefährlichen Kriegern und Außerirdische. <br>Regelmäßig nehmen sie auch an Kampfsportturnieren auf der Papayainsel teil. Handlungsort ist nicht ausschließlich die Erde, sondern kurzzeitig andere Planeten oder auch das Jenseits (Himmel und Hölle). <br>Im Laufe der Geschichte stellt sich heraus dass Son Goku ein Saiyajin vom Planeten Vegeta ist.</p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Michelangelo</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Michelangelo.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Thomas</h5> <b>Start: Oktober 2017</b><br />Michaelangelo – der lustigste der vier Ninja Turtles<br />Lockert durch seine offene und fröhliche Art oftmals die Stimmung, ist aber immer da, wenn es hart auf hart kommt.<br /><br /><i>Gewählt hab ich ihn, weil er ein humorvoller Teamplayer ist, Pizza liebt und weil er frisurentechnisch ebenfalls zu mir passt.</i></p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Flash</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/flash.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <h5>Christopher</h5> <b>Start: Jänner 2018</b><br />Flash alias Barry Allen erlangte seine übermenschliche Schnelligkeit durch einen Blitzschlag. Er kann sich nicht nur superschnell bewegen, sondern sich auch durch feste Gegenstände vibrieren und in der Zeit reisen. Sein blitzschnelles Denken macht ihn immun gegen telepathische Beeinflussung. Weiters besitzt er beschleunigte Selbstheilungskräfte, verschärfte Sinne und Reflexe sowie eine enorme Ausdauer und einen hohen Intellekt.<br /><i>Ich habe Flash gewählt, weil wir eine ähnliche Persönlichkeit haben: stets freundlich und hilfsbereit, haben einen eigenen Humor, kämpfen für das Gute, zeigen offen unsere Emotionen und handeln nach unserem Herzen.</i>
            </p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Cloud Strife</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Cloud.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Peter</h5> <b>Start: März 2018</b><br />Protagonist des Spiels Final Fantasy VII für die Playstation aus dem Jahr 1997. Cloud hat als Soldat den Konzern Shinra verlassen und schlägt sich nun als Söldner durch das Leben. Dabei wird er von AVALANCHE angeheuert um den Machenschaften und den Unterdrückungen von Shinra ein Ende zu bereiten. Dabei hat noch niemand geahnt, dass noch eine viel größere Aufgabe auf die Gruppe zukommen wird… <i>damdam daaaaaaaaaaamm</i></p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Robin</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Robin.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Julia</h5> <b>Start: Mai 2018</b><br />Robin ist der treue Begleiter von Batman. Er steht Batman immer ergeben zur Seite, selbst wenn er seine Handlungen als fragwürdig empfindet. Robin ist aber nicht nur Batmans Mitstreiter, sondern er übernimmt auch wichtige selbstständige Funktionen. Im Laufe seines Lebens entwickelter sich vom Schüler zum selbstständigen Helden und erbring viele gute Taten. <br><i>Robin begeistert mich aufgrund seiner unbestreitbaren Loyalität und seiner Zuverlässigkeit.</i> </p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Mario</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/SuperMario.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <h5>Simon</h5> <b>Start: Mai 2018</b><br /><i>It's-a me, Mario!</i><br />Mario ist eine- wenn nicht die- bekannteste Figur aus dem Nintendo-Universum und Namensgeber zahlreicher Videospiele. Als italienischer Klempner mit blauer Latzhose, rotem Hemd und roter Mütze hat es sich Mario zur Aufgabe gemacht seine Prinzessin Peach immer wieder auf's Neue aus den Fängen seines bösen Counterparts "Bowser" zu befreien. Ob unter Wasser oder an Land, Mario gibt niemals auf! <i>Aus diesem Grund, und weil er mich meine ganze Jugend begleitet hat, habe ich ihn gewählt. :)</i>
            </p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Yoda</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/yoda.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Larissa</h5> <b>Start: Juni 2018</b><br />66cm groß, 900 Jahre alt, grün, Glatze, Spitzohren – das der weiseste & mächtigste Jedi-(Groß)Meister Yoda ist. <br>Fähigkeiten er haben: Umgang mit dem Lichtschwert meisterlicher ist & Verbindung zur Macht sehr stark sein. <br><i>Möge die Sourcing-Macht mit dir sein!</i></p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Stitch</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/Stitch.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Helene</h5> <b>Start: September 2018</b><br />Stitch(auch bekannt als <i>Experiment 626</i>) wurde als erschaffen um Chaos anzustiften und böse zu sein. Durch das hawaiianische Mädchen, Lilo, lernte Stitch nach und nach zu lieben und selbstlos zu handeln. <br> <i>Ohana means family, family means nobody gets left behind or forgotten</i> ist ein wichtiges hawaiianisches Sprichwort, das in der Serie / im Film immer wieder vorkommt.</p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Pippi Langstrumpf</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/pippi.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <h5>Lisa</h5> <b>Start: September 2018</b><br /><i>aka Pippilotta Viktualia Rollgardina Pfefferminz Efraimstochter Langstrumpf</i><br />Pippi ist das stärkste Mädchen der Welt und lebt in ihrer Villa Kunterbunt ein abenteuerliches, selbstbestimmtes Leben. Ihre WG besteht aus einen Äffchen (Herr Nilsson), einem Pferd (Kleiner Onkel) und ihren Teilzeit-Mitbewohnern Annika und Tommy. Rechnen ist zwar nicht ihre Stärke, dafür hat sie eine blühende Fantasie und begibt sich gerne auf Abenteuerjagd. Sie ist übrigens auch finanziell völlig unabhängig (und das mit 9 Jahren!), da sie ihren eigenen Koffer mit Goldmünzen besitzt.
            </p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Kim Possible</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/kim-possible.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <h5>Jana</h5> <b>Start: September 2018</b><br />Hey, ich bin‘s Kim Possible! Was steht an?<br />Mit meinen Freunden Ron und Wade rette ich die Welt vor Schurken aller Art. Denn für mich ist alles möglich! Wenn ich gegen meine Feinde Dr. Drakken, seine Komplizin Shego oder Monkey Fist kämpfe, ist das keine große Sache für mich! Denn das hätte doch jeder an meiner Stelle so gemacht und war gar nicht so schwer. <i>Bei Freunden ist meine „Geheimwaffe“ mein Schmollmund.</i>
            </p>
        </div>
    </div>

    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>Iron Man</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/noImage.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>Sarah</h5> <b>Start: September 2018</b><br /></p>
        </div>
    </div>
    <div class="card card-float m-2" style="width: 18rem;">
        <div class="card-header alert-info">
            <h5>xxx</h5>
        </div>
        <img class="card-img-top heroes-cards" src="../images/SourcingHelden/noImage.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5>unbekannt</h5> <b>Start: 2018??</b><br /></p>
        </div>
    </div>-->

    <!--
        <div class="card card-float m-2" style="width: 18rem;">
        <img class="card-img-top heroes-cards" src="..." alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h3>???</h3> <b>Jana - Start: September 2018</b><br /></p>
        </div>
    </div>

        -->

</div>




<script>
    function writeText(txt) {
        document.getElementById("desc").innerHTML = txt;
    }
</script>