<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Einstellungen</li>
    </ol>
</nav>
<h1 class="page-header"><span class="fas fa-cogs"></span>  Einstellungen</h1>

<div class="panel panel-default float-overflow">
   
    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Bojan_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Ziele/WIG's</h5>
                <p class="card-text">Ziele Übersicht, hinzufügen neuer Ziele und aktivieren/deaktivieren des Header-Ziels
                </p>
                <a href="#!wigs" class="btn btn-info">Ziele anzeigen</a>
                <a href="#!wig/new" class="btn btn-info mt-2">
                    <span class="fas fa-plus" aria-hidden="true"></span> neues Ziel anlegen
                </a>
            </div>
            
        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Christopher_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Quellen</h5>
                <p class="card-text">
                    Quellen-Verwaltung (aktivieren/deaktivieren, hinzufügen)
                </p>
                <a href="#!sources" class="btn btn-info">Quellen anzeigen</a>
                <a href="#!source/new" class="btn btn-info mt-2">
                    <span class="fas fa-plus" aria-hidden="true"></span> neue Quellen anlegen
                </a>
            </div>

        </div>
    </div>
    
    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/EP-Link-Profil-9.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Teams</h5>
                <p class="card-text">
                    Team-Verwaltung
                </p>
                <a href="#!teams" class="btn btn-info">Teams anzeigen</a>
                <a href="#!team/new" class="btn btn-info mt-2">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                    Neues Team anlegen
                </a>
            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Esther_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Benutzer</h5>
                <p class="card-text">
                    Sourcing-User Verwaltung
                </p>
                <a href="#!users" class="btn btn-info">Benutzer anzeigen</a>
                <a href="#!users/new" class="btn btn-info mt-2">
                    <span class="fas fa-plus" aria-hidden="true"></span> neuen Benutzer anlegen
                </a>

            </div>

        </div>
    </div>


    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Gotthard_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Kandidaten Anonymisierung</h5>
                <p class="card-text">
                    Anonymisieren der Kandidaten (DSGVO)
                </p>
                <a href="#!candidateAnonymize" class="btn btn-info">Kandidaten anonymisieren</a>
            </div>
        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Johanna_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Recruiter</h5>
                <p class="card-text">
                    Recruiterübersicht &amp; neuen Recruiter anlegen
                </p>
                <a href="#!recruiters" class="btn btn-info">Recruiterübersicht</a>
                <a href="#!recruiter/new" class="btn btn-info mt-2"><span class="fas fa-plus" aria-hidden="true"></span> neuen Recruiter anlegen</a>
            </div>
        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Jobkategorie &amp;-profile</h5>
                <p class="card-text">
                    Jobkategorien &amp;-profile
                </p>
                <a href="#!jobprofiles" class="btn btn-info"> Profilübersicht</a>
                <a href="#!jobcategory/new" class="btn btn-info mt-2"><span class="fas fa-plus" aria-hidden="true"></span> neue Kategorie anlegen</a>
                <a href="#!jobprofile/new" class="btn btn-info mt-2"><span class="fas fa-plus" aria-hidden="true"></span> neues Profil anlegen</a>
            </div>
        </div>
    </div>

    <!--
    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Esther_2.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Weekly Numbers</h5>
                <p class="card-text">
                    Ansprachen und Telefonnotizen nach KW
                </p>
                <a href="#!weeklyNumbers" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/LinkedIn_Kathi-Roman.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Telefonnotiz</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zur Telefonnotiz von allen erfassten Kandidaten
                </p>
                <a href="#!timeToTelNoticeScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Maria_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Intern</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zum Internen Gespräch von allen erfassten Kandidaten
                </p>
                <a href="#!timeToInternScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>

    <div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Wolfgang_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Extern</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zum Externen Gespräch von allen erfassten Kandidaten
                </p>
                <a href="#!timeToExternScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>-->

    <!--<div class="card sourcing-w-20 card-float m-2">
        <img class="card-img-top" src="../../images/Valerie_LinkedIn.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="card-body">
                <h5 class="card-title">Time-To-Hire</h5>
                <p class="card-text">
                    Aufteilung der Tage vom Research bis zur Besetzung von allen erfassten Kandidaten
                </p>
                <a href="#!timeToHireScattering" class="btn btn-info">Statistik anzeigen</a>

            </div>

        </div>
    </div>-->

</div>