<h1 class="page-header"><span class="far fa-compass"></span> Quellenübersicht</h1>

<div class="panel-heading pb-2">
    <a href="#!source/new" class="btn btn-info">
        <span class="fas fa-plus" aria-hidden="true"></span>
        Neue Quelle anlegen
    </a>
</div>
<div class="card w-50">
    <div class="panel panel-default">
        
        <div class="panel-body">
            <table class="table mb-1 table-striped">
                <thead class="thead-sourcing">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Aktiv</th>
                    </tr>
                </thead>
                <tr ng-repeat="s in sources" ng-class="issourceinactive(s)">
                    <td><a class="text-info" href="#!sourcedetail/{{s.id}}" title="'{{s.name}}' bearbeiten">{{s.name}}</a></td>
                    <td>{{s.active}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

