<h1 class="page-header"><span class="oi oi-compass"></span> {{source}}</h1>


<div class="useredit w-50">
    <div class="alert alert-danger" role="alert" ng-show="message && iserrmessage">
        <span class="gyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{message}}
    </div>

    <div class="alert alert-success" role="alert" ng-show="message && !iserrmessage">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {{message}}
    </div>

    <h3>neue Quelle anlegen</h3>

        <div class="card-body mb-1">

            <div class="input-group mb-1">
                <div class="input-group-addon alert-info">Name</div>
                <input type="text" class="form-control" id="sourcename" ng-model="source" placeholder="Quellen-Name">
            </div>
            
            <button type="button" class="btn btn-info mb-1" ng-click="save()"><span class="oi oi-check" aria-hidden="true"></span> Speichern</button>


        </div>
    

</div>
