<html lang="de-at">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Viktoria Jechsmayr">
    <link rel="icon" href="images/epunkt.ico">
    <title>Sourcing Reporting</title>

    <!-- Icon Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <!-- CSS -->
    <link rel="stylesheet" href="css/imports/bootstrap.css">

    <link rel="stylesheet" href="css/imports/select2.css" />
    <link rel="stylesheet" href="css/imports/select2-bootstrap.css">

    <link rel="stylesheet" href="css/imports/tablesort.css" />
    <!--<link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />-->
    <link rel="stylesheet" href="css/imports/alertify/alertify.core.css" />
    <link rel="stylesheet" href="css/imports/alertify/alertify.default.css" id="toggleCSS" />
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/sourcing.css" media="screen and (min-width: 1600px)">
    <link rel="stylesheet" media="screen and (max-width:1600px)" href="css/responsive/laptop.css" />
    <link rel="stylesheet" media="screen and (max-width:900px)" href="css/responsive/mobile.css" />
    <link rel="stylesheet" media="print" href="css/responsive/print.css" />

    <!-- JS -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/imports/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/locale/de.js"></script>
    <script type="text/javascript" src="js/imports/select2.full.min.js"></script>
    <script type="text/javascript" src="js/imports/angular.min.js"></script>
    <script type="text/javascript" src="js/imports/angular-route.min.js"></script>
    <script type="text/javascript" src="js/imports/angular-filter.min.js"></script>
    <!--<script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/transition.js"></script>
    <script type="text/javascript" src="js/collapse.js"></script>-->
    <script type="text/javascript" src="js/imports/Chart.js"></script>
    <script type="text/javascript" src="js/imports/Chart.bundle.js"></script>
    <script type="text/javascript" src="js/imports/sorttable_v2.js"></script>
    <script type="text/javascript" src="js/imports/alertify.js"></script>

</head>
<body ng-app="sourcingApp">
    <header>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" ng-controller="navBarController">
            <a class="navbar-brand" href="#!myDashboard"><img src="images/epunkt.png" title="Zur persönlichen Startseite" width="48px"> Sourcing Dashboard</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="navbar-brand" href="#!wigs">vermittelte Sourcing-Kandidaten: {{hireThisYear.hireThisYear + hireThisYeareR.hireThisYear}} / {{wig.goal}}</a>
                </form>
                <form class="form-inline mt-2 mt-md-0">
                    <!--<a class="navbar-brand" href="#" [ngClass]="{'badge badge-danger': classTN === 'false', 'badge badge-success': classTN === 'true'}"> TelefonnotizenToDo: {{ weeklyTN.telnotice_week }} / {{ weeklyTelnoticeToDo }}</a>
                    <a class="navbar-brand" href="#" [ngClass]="{'badge badge-danger': classTN === 'classReq', 'badge badge-success': classReq === 'true'}"> AnsprachenToDo: {{ weeklyReq.requests_week }} / {{ weeklyRequestsToDo }}</a>-->
                    <a class="navbar-brand badge badge-danger" href="#" ng-if="classTN === 'false'">Telefonnotizen: {{ weeklyTN }} / {{ weeklyTelnoticeToDo }}</a>
                    <a class="navbar-brand badge badge-success" href="#" ng-if="classTN === 'true'">Telefonnotizen: {{ weeklyTN }} / {{ weeklyTelnoticeToDo }}</a>

                    <a class="navbar-brand badge badge-danger" href="#" ng-if="classReq === 'false'">Ansprachen: {{ weeklyReq }} / {{ weeklyRequestsToDo }}</a>
                    <a class="navbar-brand badge badge-success" href="#" ng-if="classReq === 'true'">Ansprachen: {{ weeklyReq }} / {{ weeklyRequestsToDo }}</a>
                
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>



                <form class="form-inline mt-2 mt-md-0">
                    <a class="navbar-brand" href="#!userdetail">{{user.firstname + ' ' + user.lastname}} <span class="fas fa-user-shield" aria-hidden="true"></span></a>
                </form>

                <form class="form-inline mt-2 mt-md-0 mr-2">
                    <input title="Suche nach Vorname und Nachname, eR ODER Link möglich!" class="form-control mr-sm-3" type="text" ng-model="searchString" name="searchString" placeholder="Kandidatensuche" aria-label="Suche" ng-keyup="searchCandidate()">
                    <!--<button class="btn btn-outline-info my-3 my-sm-0" type="submit">Suche</button>-->
                    <div id="livesearch"></div>
                </form>


                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ng-click="logout()"><span class="fas fa-sign-out-alt" aria-hidden="true"></span> Logout</button>
                </form>

            </div>
        </nav>

    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar sourcing-sidebar" ng-controller="sideBarController">
                <ul class="nav nav-pills flex-column sidebar-margin">
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!candidates"><span class="fas fa-users" aria-hidden="true"></span> Kandidaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!candidates_eR"><span class="fas fa-user-astronaut" aria-hidden="true"></span> eR-Kandidaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!statistics"><span class="fas fa-chart-line" aria-hidden="true"></span> Statistiken</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!hires"><span class="fas fa-star" aria-hidden="true"></span> Besetzungsliste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!rememberMe"><span class="fas fa-user-clock" aria-hidden="true"></span> RememberMe-Liste</a>
                    </li>
                </ul>

                <ul class="nav nav-pills flex-column sidebar-margin">
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!settings"><span class="fas fa-cog" aria-hidden="true"></span> Einstellungen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!dashboard"><span class="fas fa-code" aria-hidden="true"></span> Release Infos</a>
                    </li>
                </ul>

                <ul class="nav nav-pills flex-column sidebar-margin">
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!sourcingHeroes"><span class="fas fa-user-ninja" aria-hidden="true"></span> Sourcing Helden</a>
                    </li>
                </ul>

                <ul class="nav nav-pills flex-column sidebar-margin timeinfo">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="page-header"><span class="fas fa-desktop"></span> Time-Info's (6M)</h5>
                            <h6>Time-To-Call <span class="badge badge-info">{{timeinfo.timetocall | number: 2}} Tage</span></h6>

                            <h6>Time-To-Interview <span class="badge badge-info">{{timeinfo.timetointerview | number: 2}} Tage</span></h6>

                            <h6>Time-To-Extern <span class="badge badge-info">{{timeinfo.timetoextern | number: 2}} Tage</span></h6>

                            <h6>Time-To-Hire <span class="badge badge-info">{{timeinfo.timetohire | number: 2}} Tage</span></h6>

                        </div>
                    </div>
                </ul>

            </nav>
            <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 main-margin">
                <div id="releaseInfo" class="releaseInfo"><h3>Neues Release kommt!</h3> Das Sourcing Tool ist außerplanmäßig bereits am Mo, 18.06.2018 von 8:00 - 12:00 offline. <br />Danke für dein Verständnis!<br /><strong>Happy Sourcing :)</strong></div>
                <div class="main-view" ng-view></div>

            </main>
        </div>
    </div>


    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>-->

    <!--<script src="js/vendor/holder.min.js"></script>-->

    <script src="js/sourcing/main.js"></script>
    <script src="js/sourcing/candidate.js"></script>
    <script src="js/sourcing/candidate_eR.js"></script>
    <script src="js/sourcing/source.js"></script>
    <script src="js/sourcing/statistics.js"></script>
    <script src="js/sourcing/team.js"></script>
    <script src="js/sourcing/users.js"></script>
    <script src="js/sourcing/wig.js"></script>
    <script src="js/sourcing/personalDashboard.js"></script>
    <script src="js/sourcing/settings.js"></script>
    <script src="js/sourcing/recruiter.js"></script>
    <script src="js/sourcing/jobprofiles.js"></script>

</body>
</html>
