<html lang="de-at">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/epunkt.ico">
    <title>Sourcing Reporting</title>

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="css/select2.min.css" rel="stylesheet" />
    <link href="css/tablesort.css" rel="stylesheet" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <!-- JS -->    
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/locale/de.js"></script>
    <script src="js/select2.full.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-filter.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/Chart.bundle.js"></script>
    <script src="js/sorttable_v2.js"></script>

</head>
<body ng-app="sourcingApp">
    <header>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" ng-controller="navBarController">
            <a class="navbar-brand" href="#!myDashboard"><img src="images/epunkt.png" title="Zur persönlichen Startseite" width="48px"> Sourcing Dashboard</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="navbar-brand" href="#!wigs">vermittelte Sourcing-Kandidaten: {{hireThisYear.hireThisYear + hireThisYeareR.hireThisYear}} / {{wig.goal}}</a>
                </form>

            </div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>

                <form class="form-inline mt-2 mt-md-0">
                    <a class="navbar-brand" href="#!userdetail">{{user.firstname + ' ' + user.lastname}} <span class="oi oi-cog" aria-hidden="true"></span></a>
                </form>

           
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ng-click="logout()"><span class="oi oi-account-logout" aria-hidden="true"></span> Logout</button>
                </form>

                <!--
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-3 my-sm-0" type="submit">Suche</button>
                </form>
-->
            </div>
        </nav>

    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar sourcing-sidebar" ng-controller="sideBarController">
                <ul class="nav nav-pills flex-column sidebar-margin">
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!candidates"><span class="oi oi-people" aria-hidden="true"></span> Kandidaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!candidates_eR"><span class="oi oi-fork" aria-hidden="true"></span> eR-Kandidaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!statistics"><span class="oi oi-bar-chart" aria-hidden="true"></span> Statistiken</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!hires"><span class="oi oi-star" aria-hidden="true"></span> Besetzungsliste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!rememberMe"><span class="oi oi-clock" aria-hidden="true"></span> RememberMe-Liste</a>
                    </li>
                </ul>
                <!-- ADMIN ONLY - START -->
                <ul class="nav nav-pills flex-column sidebar-margin">
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!wigs"><span class="oi oi-flag" aria-hidden="true"></span> Ziel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!sources"><span class="oi oi-compass" aria-hidden="true"></span> Quellen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!teams"><span class="oi oi-globe" aria-hidden="true"></span> Teams &amp; Gruppen</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!users"><span class="oi oi-person" aria-hidden="true"></span> Benutzer</a>
                    </li>

                </ul>

                <!-- ADMIN ONLY - END -->

                <ul class="nav nav-pills flex-column sidebar-margin">
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!dashboard"><span class="oi oi-bullhorn" aria-hidden="true"></span> Release Infos</a>
                    </li>
                </ul>

                <!--<ul class="nav nav-pills flex-column sidebar-margin">
                    <li class="nav-item">
                        <a class="nav-link nav-bg-info" href="#!sourcingHeroes"><span class="oi oi-location" aria-hidden="true"></span> Sourcing Helden</a>
                    </li>
                </ul>-->

                <ul class="nav nav-pills flex-column sidebar-margin timeinfo">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="page-header"><span class="oi oi-monitor"></span> Time-Info's (6M)</h5>
                            <h6>Time-To-Call <span class="badge badge-info">{{timeinfo.timetocall | number: 2}} Tage</span></h6>

                            <h6>Time-To-Interview <span class="badge badge-info">{{timeinfo.timetointerview | number: 2}} Tage</span></h6>

                            <h6>Time-To-Extern <span class="badge badge-info">{{timeinfo.timetoextern | number: 2}} Tage</span></h6>

                            <h6>Time-To-Hire <span class="badge badge-info">{{timeinfo.timetohire | number: 2}} Tage</span></h6>

                        </div>
                    </div>
                </ul>

                <!--<ul class="nav nav-pills flex-column sidebar-margin logoutdiv">
                    <li class="nav-item">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ng-click="logout()"><span class="oi oi-account-logout" aria-hidden="true"></span> Logout</button>
                    </li>
                </ul>-->



            </nav>
            <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 main-margin">
                <div id="releaseInfo" class="releaseInfo"><h3>Neues Release kommt!</h3> Das Sourcing Tool ist außerplanmäßig bereits am Mo, 18.06.2018 von 8:00 - 12:00 offline. <br/>Danke für dein Verständnis!<br /><strong>Happy Sourcing :)</strong></div>
                <div ng-view></div>

            </main>
        </div>
    </div>


    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script src="js/vendor/holder.min.js"></script>

    

    <!--<script src="js/sourcing/dashboard.js"></script>-->

    <script src="js/sourcing/main.js"></script>
    <script src="js/sourcing/candidate.js"></script>
    <script src="js/sourcing/candidate_eR.js"></script>
    <script src="js/sourcing/source.js"></script>
    <script src="js/sourcing/statistics.js"></script>
    <script src="js/sourcing/team.js"></script>
    <script src="js/sourcing/users.js"></script>
    <script src="js/sourcing/wig.js"></script>
    <script src="js/sourcing/personalDashboard.js"></script>

</body>
</html>
