<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!settings">Einstellungen</a></li>
        <li class="breadcrumb-item"><a href="#!users">Benutzerverwaltung</a></li>
        <li class="breadcrumb-item active" aria-current="page">Benutzer bearbeiten</li>
    </ol>
</nav>
<h1 class="page-header"><span class="fas fa-user-shield"></span> {{user.firstname + ' ' + user.lastname}}</h1>

<div class="useredit">
    <h3>Benutzer bearbeiten</h3>
    <div class="card-body mb-1">

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Vorname</span>
            </div>
            <input type="text" class="form-control" id="firstname" placeholder="Vorname" ng-model="user.firstname">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Nachname</span>
            </div>
            <input type="text" class="form-control" id="lastname" placeholder="Nachname" ng-model="user.lastname">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">eMail</span>
            </div>
            <input type="email" class="form-control" id="email" placeholder="name@email.at" ng-model="user.email">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Passwort</span>
            </div>
            <input type="password" class="form-control" id="password" placeholder="*****" ng-model="password">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Passwort wiederholen</span>
            </div>
            <input type="password" class="form-control" id="password2" placeholder="*****" ng-model="password2">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">bei epunkt seit</span>
            </div>
            <input type="text" class="form-control" id="start" ng-model="user.start" placeholder="April 2017">
        </div>

        <table class="table mb-1">
                <tr ng-show="!user.isloggedinUser">
                    <th scope="row" class="sourcing-width-250">Admin</th>
                    <td><select id="selectadmin" class="sourcing-width-150">
                        <option value="0">Nein</option>
                        <option value="1">Ja</option>
                        </select></td>
                </tr>
                <tr ng-show="!user.isloggedinUser">
                    <th scope="row" class="sourcing-width-250">Aktiv</th>
                    <td><select id="selectactive" class="sourcing-width-150">
                            <option value="0">Nein</option>
                            <option value="1">Ja</option>
                        </select></td>
                </tr>
        </table>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Geburtstag</span>
            </div>
            <input type="date" class="form-control" id="birthday" ng-model="birthday">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Superheld</span>
            </div>
            <input type="text" class="form-control" id="hero" ng-model="user.hero" placeholder="Heldenname">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Heldenbeschreibung</span>
            </div>
            <textarea rows="5" class="form-control" id="heroDescr" ng-model="user.heroDescr" placeholder="Ich habe <> ausgewählt weil.../ <> zeichnen folgende Eigenschaften aus..."></textarea>
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text alert-info sourcing-width-250" id="inputGroup-sizing-default">Superhelden-Bildname</span>
            </div>
            <input type="text" class="form-control" id="imageName" ng-model="user.imageName" placeholder="Bildname inkl. Dateiendung">
        </div>

        <button type="button" class="btn btn-info mb-1" ng-click="update()"><span class="fas fa-user-check" aria-hidden="true"></span> Speichern</button>
    </div>
</div>
